<div data-role="panel" id="side-nav">
    <img src="{{asset('assets/images/logo.svg')}}" class="centre-img width-90p" alt="UHW Logo">
    <a href="#home" class="nav-link-button ui-btn ui-shadow ui-corner-all ui-btn-icon-right ui-icon-home" data-theme="c">Home</a>
    <a href="#home" class="nav-link-button ui-btn ui-shadow ui-corner-all ui-btn-icon-right ui-icon-search" data-theme="c">Search</a>
    <a href="#home" class="nav-link-button ui-btn ui-shadow ui-corner-all ui-btn-icon-right ui-icon-user" data-theme="c">Patient</a>
    <a href="#home" class="nav-link-button ui-btn ui-shadow ui-corner-all ui-btn-icon-right ui-icon-bullets" data-theme="c">Records</a>
</div> 