<div data-role="page" data-dialog="true" id="macular-clinic-record">
    <div data-role="header">
        <h4 class="light-grey light-text">Ophthalmology</h4>   
        <h4 class="light-grey light-text">Macular Clinic</h4>   
        <h4 class="light-grey light-text name"></h4>      
    </div>
    <div data-role="content">         
        <div class="flex-container">
            <div class="flex-item-small-form">
                <p class="green">Created by</p>
                <p class="input-style-light" id="view-created-by">Peter Smith</p>
            </div>
            <div class="flex-item-small-form">
                <p class="green">Date Created</p>
                <p class="input-style-light" id="view-lva-range-months">25 May 1986, 15:30</p>
            </div>
        </div>
        <p class="green">LVA/Contact Lens/Orthoptic Range</p>
        <div class="flex-container">
            <div class="flex-item-small-form">
                <p class="green">Weeks</p>
                <p class="input-style-light" id="view-lva-range-weeks">20</p>
            </div>
            <div class="flex-item-small-form">
                <p class="green">Months</p>
                <p class="input-style-light" id="view-lva-range-months">20</p>
            </div>
        </div>
        <div class="flex-container">
            <div class="flex-item-small-form">
                <p class="green">Test Required</p>
                <p class="input-style-light" id="view-test-required">OCT/FFA/Visual Fields</p>
            </div>
            <div class="flex-item-small-form">
                <p class="green">Surgery</p>
                <p class="input-style-light" id="view-macular-surgery">Urgent</p>
            </div>
        </div>
        <p class="green">Notes</p>
        <p class="input-style-light" id="view-macular-notes"><p></p>     
        <button id="macular-clinic-record-edit" data-inline="true">EDIT</button>   
    </div>
</div>
<script>

    function updateViewMacularRecord(recordId) {
        
        $.post("/backend/medical-record", {type: "viewMacularRecord", patientId:patientId,
        recordId:recordId})
        .done(function(data) {
            console.log(data);
        })
    }
</script>