<div data-role="page" data-dialog="true" id="edit-Radiology-record">
    <div data-role="header">
        <h4 class="light-grey light-text">Radiology</h4>   
        <h4 class="light-grey light-text">General Admission</h4>   
        <h4 class="light-grey light-text name"></h4>      
    </div>
    <div data-role="content"> 
        <div class="flex-container">
            <div class="flex-item-small-form">
                <p id="radiology-record-error"></p>
                <p class="green">Created by</p>
                <p class="input-style-light" id="view-created-by-radiology"></p>
            </div>
            <div class="flex-item-small-form">
                <p class="green">Date Created</p>
                <p class="input-style-light" id="view-created-date-radiology"></p>
            </div>
        </div>
        <div class="flex-container">           
                <div class="flex-item-small-form">
                    <p class="green">Area for X-Ray</p>
                    <p class="input-style-light" id="view-xray-area"></p>                                       
                </div>
                <div class="flex-item-small-form">
                    <p class="green">Type of X-Ray</p>
                    <p class="input-style-light" id="view-xray-type"></p> 
                </div>
            </div>
            <div class="flex-container">
                <div class="flex-item-small-form">
                    <p class="green">Contrast</p>
                    <p class="input-style-light" id="view-contrast"></p>
                </div>                
                <div class="flex-item-small-form">
                    <div id="view-hidden-side" hidden>
                        <p class="green">Side</p>
                        <p class="input-style-light" id="view-side"></p>
                    </div>
                </div>
            </div>
            <div class="flex-container">
                <div class="flex-item-small-form">
                    <p class="green">Pacemaker</p>
                    <p class="input-style-light" id="view-pacemaker"></p>
                </div>
                <div class="flex-item-small-form">
                    <p class="green">Sedation</p>
                    <p class="input-style-light" id="view-sedation"></p>
                </div>
            </div>
            <div class="flex-container">                
                <div class="flex-item-small-form">
                    <p class="green">Claustrophobia</p>
                    <p class="input-style-light" id="view-claustrophobia"></p>
                </div>
                <div class="flex-item-small-form">
                    <p class="green">Metal in Body</p>
                    <p class="input-style-light" id="view-metal"></p>
                </div>
            </div>
            <div id="view-hidden-metal-area" hidden>
                <p class="green">Metal Area</p>
                <p id="metal-area-error"></p>
                <p class="input-style-light" id="view-metal-area"></p>
            </div>
            <p class="green">Notes</p>
            <p class="input-style-light" id="view-radiology-notes"></p>
            <p id="radiology-submit-error"></p>
        
        
    </div>
</div> <!--end edit-radiology-record-->

<div data-role="page" id="edit-radiology-record" data-dialog="true">
    <div data-role="header">
            <h4 class="light-grey light-text">Radiology</h4>   
            <h4 class="light-grey light-text">General Admission</h4>   
            <h4 class="light-grey light-text name"></h4>      
        </div>
        <div data-role="content"> 
            <form id="edit-radiology-clinic-form" method="post">
                <div class="flex-container">           
                    <div class="flex-item-small-form">
                        <label for="edit-xray-area" class="green">Area for X-Ray</label>
                        <select name="edit-xray-area" id="edit-xray-area" data-mini="true">
                            <optgroup label="Spine">
                                <option value="Cervical Spine">Cervical Spine</option>
                                <option value="Lumbar Spine">Lumbar Spine</option>
                                <option value="Sacrum">Sacrum</option>
                            </optgroup>
                            <optgroup label="Head/Neck">
                                <option value="Head">Head</option>
                                <option value="Neck">Neck</option>
                                <option value="Orbit">Orbit</option>
                                <option value="Sinus">Sinus</option>
                                <option value="Parotid">Parotid</option>
                            </optgroup>    
                            <optgroup label="Extremity">
                                <option value="Shoulder">Shoulder</option>
                                <option value="Humerus">Humerus</option>
                                <option value="Elbow">Elbow</option>
                                <option value="Finger">Finger</option>
                                <option value="Hip">Hip</option>
                            </optgroup>
                            <optgroup label="Body/Abdomen">
                                <option value="Cardiac">Cardiac</option>
                                <option value="Chest">Chest</option>
                                <option value="Abdomen">Abdomen</option>
                                <option value="Pelvis">Pelvis</option>
                            </optgroup>
                        </select>                           
                    </div>
                    <div class="flex-item-small-form">
                        <label for="edit-xray-type" class="green">Type of X-Ray</label>
                        <select name="edit-xray-type" id="edit-xray-type" data-mini="true">
                            <option value="MRI">MRI</option>
                            <option value="MRA">MRA</option>
                            <option value="MRV">MRV</option>
                        </select>
                    </div>
                </div>
                <div class="flex-container">
                    <div class="flex-item-small-form">
                        <label for="edit-contrast" class="green">Contrast</label>
                        <select name="edit-contrast" id="edit-contrast" data-mini="true">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select> 
                    </div>                
                    <div class="flex-item-small-form">
                        <div id="edit-hidden-side" hidden>
                            <p id="edit-side-error"></p>
                            <label for="edit-side" class="green">Side</label>
                            <select name="edit-side" id="edit-side" data-mini="true">
                                <option value="Left">Left</option>
                                <option value="Right">Right</option>
                                <option value="Bi">Bi</option>
                            </select> 
                        </div>
                    </div>
                </div>
                <div class="flex-container">
                    <div class="flex-item-small-form">
                        <label for="edit-pacemaker" class="green">Pacemaker</label>
                        <select name="edit-pacemaker" id="edit-pacemaker" data-mini="true">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select> 
                    </div>
                    <div class="flex-item-small-form">
                        <label for="edit-sedation" class="green">Sedation</label>
                        <select name="edit-sedation" id="edit-sedation" data-mini="true">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>
                <div class="flex-container">                
                    <div class="flex-item-small-form">
                        <label for="edit-claustrophobia" class="green">Claustrophobia</label>
                        <select name="edit-claustrophobia" id="edit-claustrophobia" data-mini="true">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div class="flex-item-small-form">
                        <label for="edit-metal" class="green">Metal in Body</label>
                        <select name="edit-metal" id="edit-metal" data-mini="true">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>
                <div id="edit-hidden-metal-area" hidden>
                    <p class="green">Metal Area</p>
                    <p id="edit-metal-area-error"></p>
                    <input type="text" id="edit-metal-area">
                </div>
                <p class="green">Notes</p>
                <textarea id="edit-radiology-notes"></textarea>
                <p id="edit-radiology-submit-error"></p>
                <button id="edit-radiology-submit-button" data-theme="e" data-inline="true">UPDATE</button>        
            </form>
        </div>
    </div>
</div>
<script>

    var recordId;
    var staffId = '{{ app.user.id }}'; 

    function updateViewRadiologyRecord(recordId) {

        this.recordId = recordId;

        //remove edit button if exists
        $("#edit-radiology-record-button").remove();
        
        $.post("/backend/medical-record", {type: "viewRadiologyRecord", patientId:patientId,
        recordId:recordId})
        .done(function(data) {
            console.log(data);
            if(data === "none") {
                addError("#radiology-record-error", "An unexpected error occurred");
            } else {
                removeError("#radiology-record-error");
                //get data from response
                let dateCreated = data.dateCreated;
                let createdBy = data.createdBy;
                let area = data.area;
                //show side data if certain value for area
                if(area === "Shoulder" || area === "Humerus" || area === "Elbow" || 
                area === "Finger" || area === "Hip") {
                    //if ceratin areas selected, show side of body selection
                    $("#view-hidden-side").show();
                    $("#edit-hidden-side").show();
                } else {
                    //if none selected, hide 
                    $("#view-hidden-side").hide();
                    $("#edit-hidden-side").hide();
                }
                let xrayType = data.xrayType;
                let contrast = booleanToString(data.contrast);
                let side = data.side;
                let pacemaker = booleanToString(data.pacemaker);
                let sedation = booleanToString(data.sedation);
                let claustrophobia = booleanToString(data.claustrophobia);
                let metal = booleanToString(data.metal);
                if(metal === "Yes") {
                    //if yes selected, show other area input field
                    $("#view-hidden-metal-area").show();
                    $("#edit-hidden-metal-area").show();
                } else {
                    //if no selected, hide other area
                    $("#view-hidden-metal-area").hide();
                    $("#edit-hidden-metal-area").hide();
                }
                let metalArea = data.metalArea;
                let notes = data.notes;
                if(!notes) {
                    notes = "";
                }
                //add edit button if user id is same as who created it
                let createdStaffId = data.staffId;
                if(parseInt(staffId) === createdStaffId) {
                    let htmlString = '<a id="edit-radiology-record-button" href="#edit-radiology-record" class="ui-shadow ui-btn ui-corner-all ui-btn-inline" data-transition="pop">EDIT</a>'
                    $(htmlString).insertAfter("#radiology-submit-error");
                } //end if
                //update DOM with data 
                $("#view-created-by-radiology").text(createdBy);
                $("#view-created-date-radiology").text(dateCreated);
                $("#view-xray-area").text(area);
                $("#view-xray-type").text(xrayType);
                $("#view-contrast").text(contrast);
                $("#view-side").text(side);
                $("#view-pacemaker").text(pacemaker);
                $("#view-sedation").text(sedation);
                $("#view-claustrophobia").text(claustrophobia);
                $("#view-metal").text(metal);
                $("#view-metal-area").text(metalArea);
                $("#view-radiology-notes").text(notes);
                
                $("#edit-xray-area").val(area);
                $("#edit-xray-type").val(xrayType);
                $("#edit-contrast").val(contrast);
                $("#edit-side").val(side);
                $("#edit-pacemaker").val(pacemaker);
                $("#edit-sedation").val(sedation);
                $("#edit-claustrophobia").val(claustrophobia);
                $("#edit-metal").val(metal);
                $("#edit-metal-area").val(metalArea);
                $("#edit-radiology-notes").val(notes);
        
            }
        
        })
        //throw error if fails found at https://stackoverflow.com/questions/9847244/what-are-the-parameters-sent-to-fail-in-jquery
        .fail(function (jqXHR, textStatus, error) {
            showErrorPage();
        }); //end post
    } //updateViewRadiologyRecord

    $("#edit-radiology-submit-button").click(function(event) {
        event.preventDefault()
        //remove all previous errors
        removeError(".error");  
         //get details from inputs
        let area = $("#edit-xray-area").val();
        let xrayType = $("#edit-xray-type").val();
        let contrast = stringToBoolean($("#edit-contrast").val());
        let side = $("#edit-side").val();
        let pacemaker = stringToBoolean($("#edit-pacemaker").val());
        let sedation = stringToBoolean($("#edit-sedation").val());
        let claustrophobia = stringToBoolean($("#edit-claustrophobia").val());
        let metal = stringToBoolean($("#edit-metal").val());
        let metalArea = $("#edit-metal-area").val();
        let notes = $("#edit-radiology-notes").val();
         
         //form validation
        if(metalArea === "") {
            addError("#edit-metal-area-error", "Please enter an area");
        } else {
            removeError("#edit-metal-area-error");
        } 
        //only validate side if not hidden
        if(!$("#edit-hidden-side").is(":hidden")) {
            if(!side) {
                addError("#edit-side-error", "Please specify side");
            } else {
                removeError("#edit-side-error");
            }
        }
        //post to backend only if no errors exist
        if(!($(".error").length)) {
         $.post("/backend/medical-record", {type: "updateRadiologyRecord", patientId:patientId, recordId:recordId,
         area:area, xrayType:xrayType, contrast:contrast, side:side, pacemaker:pacemaker,
         sedation:sedation, claustrophobia:claustrophobia, metal:metal, metalArea:metalArea, notes:notes})
         .done(function(data) {
             console.log(data);
             if(data === "success") {
                window.location = `/patient/medical-record/view?id=${patientId}&msg=success`;
             } else {
                 addError("#edit-radiology-submit-error", "An unexpected error occurred");
             }
         })
         //throw error if fails found at https://stackoverflow.com/questions/9847244/what-are-the-parameters-sent-to-fail-in-jquery
         .fail(function (jqXHR, textStatus, error) {
            showErrorPage();
        }); //end post
        } //end if
    }) //end click

    //show hidden side field if certain body area is selected
    $("#edit-xray-area").change(function() {
        let value = $(this).find(":selected").val();
        
        if(value === "Shoulder" || value === "Humerus" || value === "Elbow" || 
        value === "Finger" || value === "Hip") {
            //if ceratin areas selected, show side of body selection
            $("#edit-hidden-side").show();
        } else {
            //if none selected, hide 
            $("#edit-hidden-side").hide();
        }
    });

    $("#edit-metal").change(function() {
        let value = $(this).find(":checked").val();
        if(value === "Yes") {
            //if yes selected, show other area input field
            $("#edit-hidden-metal-area").show();
        } else {
            //if no selected, hide other area
            $("#edit-hidden-metal-area").hide();
        }
    });
</script>