{% include './header/header.html.twig' %}
<body>
<div data-role="page">    
    {% include './sidenav/sidenav.html.twig' %} 
    <div data-role="content" class="width-720 box">  
        <p id="success-msg" class="green"></p>
        <h2 class="inline name"></h2>
        <a href="#edit-profile" class="ui-shadow ui-btn ui-corner-all ui-btn-inline" data-transition="pop">EDIT</a>
        <a href="#delete-profile" class="ui-shadow ui-btn ui-corner-all ui-btn-inline" data-transition="pop">DELETE</a>
        <p id="staffId"></p>
        
        <div class="flex-container">
            <div class="flex-item-small-form">
                <p class="green">First Name</p>
                <p class="input-style" id="staff-first-name">
            </div>
            <div class="flex-item-small-form">
                <p class="green">Last Name</p>
                <p class="input-style" id="staff-last-name">
            </div>
        </div>  
        <div class="flex-container">
            <div class="flex-item-small-form">
                <p class="green">Username</p>
                <p class="input-style" id="staff-username"></p>
            </div>     
            <div class="flex-item-small-form">
                <p class="green">Staff Type</p>
                <p class="input-style" id="staff-type"></p>
            </div>
        </div> 
    </div>
</div>

<div data-role="page" data-dialog="true" id="edit-profile">
    <div data-role="header">
        <h2>Edit Profile</h2>
    </div>
    <div data-role="content">
        <form method="post" id="edit-staff-form">
            <p class="green">First Name</p>
            <p id="edit-staff-first-name-error"></p>
            <input id="edit-staff-first-name">
            <p class="green">Last Name</p>
            <input id="edit-staff-last-name">
            <p class="green">Username</p>
            <p id="edit-staff-username-error"></p>
            <input type="text" id="edit-staff-username">
            <p class="green">Staff Type</p>
            <select id="edit-staff-type" data-mini="true">
                <option value="ROLE-DOCTOR">Doctor</option>
                <option value="ROLE-NURSE">Nurse</option>
                <option value="ROLE-CLERICAL">Clerical</option>
            </select>
            <p id="edit-staff-submit-error"></p>   
            <input type="submit" id="edit-staff-button" data-inline="true" value="UPDATE" data-theme="a">
        </form>
    </div>
</div> <!-- end edit-profile-->

<div data-role="page" data-dialog="true" id="delete-profile">
    <div data-role="header">
        <h3>Delete <span class="name"></span></h3>
    </div>
    <div data-role="content">
        <p>Are you sure you want to delete <span class="name"></span>?</p>
        <p id="delete-staff-error"></p>
        <a id="delete-staff-yes" class="ui-shadow ui-btn ui-corner-all ui-btn-inline" data-transition="pop">YES</a>
        <a id="delete-staff-no" data-rel="back" class="ui-shadow ui-btn ui-corner-all ui-btn-inline" data-transition="pop">NO</a>
    </div>
</div> <!--/delete profile-->
<script>
     //get parameter from URL seen at https://www.w3docs.com/snippets/javascript/how-to-get-current-url-in-javascript.html
     let urlString = window.location.href;
     let url = new URL(urlString);
     var staffId = url.searchParams.get("id");
     var msg = url.searchParams.get("msg");
     if(msg === "success") {
         $("#success-msg").text("Record updated successfully");
     }

     getStaffDetails();

     function getStaffDetails() {
         $.post("/backend/staff", {type: "getStaffDetails", staffId:staffId})
         .done(function(data) {
            if(data === "none") {
                addError("#staffId", "Staff record not found");
            } else {
                removeError("#staffId");
                let firstName = data.firstName;
                let lastName = data.lastName;
                let name = `${firstName} ${lastName}`
                let username = data.username;
                let staffType = data.staffType;

                $("#staffId").text(staffId);
                $(".name").text(name);
                $("#staff-first-name").text(firstName);
                $("#staff-last-name").text(lastName);
                $("#staff-username").text(username);
                $("#staff-type").text(staffType);

                $("#edit-staff-first-name").val(firstName);
                $("#edit-staff-last-name").val(lastName);
                $("#edit-staff-username").val(username);
                $("#edit-staff-type").val(staffType);
            } //end if/else
         })
         //throw error if fails found at https://stackoverflow.com/questions/9847244/what-are-the-parameters-sent-to-fail-in-jquery
         .fail(function (jqXHR, textStatus, error) {
            showErrorPage();
        }); //end post
     } //end getStaffDetails

     $("#edit-staff-form").submit(function(event) {
        event.preventDefault();
        let firstName = $("#edit-staff-first-name").val();
        let lastName = $("#edit-staff-last-name").val();
        let username = $("#edit-staff-username").val();
        let staffType = $("#edit-staff-type").val();

        //used https://regexr.com/ to generate regex pattern
        //no white space or digits
        let regexWhitespace = /[^\S*$]/;
        let regexDigits = /[^\D*$]/;

        //form validation
        if(firstName === "") {
            addError("#edit-staff-first-name-error", "Please enter a first name");
        } else {
            removeError("#edit-staff-first-name-error");
        }    
        if(username === "") {
            addError("#edit-staff-username-error", "Please enter a username");
        } else {
            //test username against reg expressions
            if(regexWhitespace.test(username) || regexDigits.test(username)) {
                addError("#edit-staff-username-error", "Username must not contain digits or spaces");
            } else {
                removeError("#edit-staff-username-error");
            }     
        }
        //post to backend only if no errors exist
        if(!($(".error").length)) {
            $.post("/backend/staff", {type:"updateStaff", staffId:staffId, 
            firstName: firstName, lastName:lastName,
            username:username, staffType:staffType})
            .done(function(data) {
                console.log(data); 
                //remove previous errors
                removeError("#staff-username-error");
                removeError("#staff-submit-error");            
                switch(data) {
                    //if username exists, display error
                    case "error":
                        addError("#edit-staff-username-error", "Username already exists");
                        break;
                    case "success":
                        window.location = `profile?id=${staffId}&msg=success`;
                        break;
                    case "none":
                        addError("#edit-staff-submit-error", "An unexpected error occurred");
                        break;
                }
            })
            //throw error if fails found at https://stackoverflow.com/questions/9847244/what-are-the-parameters-sent-to-fail-in-jquery
            .fail(function (jqXHR, textStatus, error) {
                showErrorPage();
            }); //end post
        } //end if

     }); //end submit event

     $("#delete-staff-yes").click(function() {
         $.post("/backend/staff", {type: "deleteStaff", staffId:staffId})
         .done(function(data) {
             console.log(data);
            if(data === "none") {
                addError("#delete-staff-error", "An unexpected error occurred");
            } else {
                removeError("#delete-staff-error");
                window.location = "./search?msg=deleted";
            }
         })
         //throw error if fails found at https://stackoverflow.com/questions/9847244/what-are-the-parameters-sent-to-fail-in-jquery
         .fail(function (jqXHR, textStatus, error) {
            showErrorPage();
        }); //end post
         
     }); //end click event

</script>
</body>
</html>