{% include './header/header.html.twig' %}
<body>
    <h3 id="test" data-role="none">Create User</h3>
    <form>
         <label for="username">Username:</label>
         <input type="text" name="username" id="username" value="">
         <label for="password">Password:</label>
         <input type="password" name="password" id="password" value="">
    </form>
</body>