{% include './header/header.html.twig' %}
<body>
<div data-role="page" id="admin">
    {% include './sidenav/sidenav.html.twig' %} 
    <div data-role="content" class="width-720">
        <p id="success-msg" class="green"></p>
        <!-- show welcome name if logged in-->
        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
            <h2 class="green">Welcome {{ app.user.firstName }}</h2>
        {% endif %}
        <h2>Staff</h2>
        <div class="flex-container width-80p">
            <div class="dark-green-box drop-shadow flex-item-small-form dashboard-link">
                <a href="/admin/create/staff"><p>+ Create</p></a>
            </div>
            <div class="green-box drop-shadow flex-item-small-form dashboard-link">
                    <a href="/admin/staff/search"><p>Search</p></a>
                </div>
        </div>
        <h2>Patient</h2>
        <div class="flex-container width-80p">
            <div class="dark-green-box drop-shadow flex-item-small-form dashboard-link">
                <a href="/admin/create/patient"><p>+ Create</p></a>
            </div>
            <div class="green-box drop-shadow flex-item-small-form dashboard-link">
                    <a href="/patient/search"><p>Search</p></a>
                </div>
        </div>
    </div>
</div>
<script>
    let urlString = window.location.href;
    let url = new URL(urlString);
    var msg = url.searchParams.get("msg");
    if(msg === "success") {
        $("#success-msg").text("Record created successfully");
    }
</script>
</body>
</html>
