{% include './header/header.html.twig' %}
<body>
<div data-role="page">
    <div data-role="content" class="width-40p">
        <h3 class="centre-text">You have been successfully logged out</h3>
        <div class="green-box drop-shadow dashboard-link">
            <a href="#" onclick="window.location = '/login'"><p>Login</p></a>
        </div>
    </div>
    
</div>
</body>
</html>