{% include './header/header.html.twig' %}
<body>
<div data-role="page">    
    {% include './sidenav/sidenav.html.twig' %} 
    <div data-role="content" class="width-960">         
        <h2 class="inline name"></h2>
        <p id="patientId"></p>
        <h2>New Medical Record</h2>
        <p id="update-successful" class="green"></p>
        <div data-role="collapsible">
            <h4>Accident and Emergency</h4>
            <div class="input-style-dark">
                <a class="medical-record-link" id="aande-admission-form-link" href="#aande-admission" class="ui-shadow ui-btn ui-corner-all ui-btn-inline" data-transition="pop"><p>General Admission</p></a>
            </div>            
        </div>
        <div data-role="collapsible" data-theme="c">
            <h4>Radiology</h4>
            <div class="input-style-dark">
                <a class="medical-record-link" href="#radiology-admission" class="ui-shadow ui-btn ui-corner-all ui-btn-inline" data-transition="pop"><p>General Admission</p></a>
            </div>   
        </div>
        <div data-role="collapsible">
            <h4>Ophthalmology</h4>
            <div class="input-style-dark">
                <a class="medical-record-link" href="#macular-clinic" class="ui-shadow ui-btn ui-corner-all ui-btn-inline" data-transition="pop"><p>Macular Clinic</p></a>
            </div> 
        </div>
    </div>
</div>

<div data-role="page" data-dialog="true" id="aande-admission">
    <div data-role="header">
        <h4 class="light-grey light-text">Accident and Emergency</h4>   
        <h4 class="light-grey light-text">General Admission</h4>   
        <h4 class="light-grey light-text name"></h4>      
    </div>
    <div data-role="content">
        <form id="aande-admission-form" method="post">
            <div class="flex-container">                               
                <div class="flex-item-small-form">
                    <p class="green">Location Incident Occurred</p>
                    <p id="aande-location-error"></p>  
                    <input type="text" id="aande-location">                       
                </div> 
            </div>   
            <p class="green">Description of Injury</p>
            <p id="injury-description-error"></p> 
            <textarea id="injury-description"></textarea>
            <div class="flex-container">
                <div class="flex-item-small-form">
                    <p class="green">Injury Area</p>
                    <p id="injury-area-error"></p>
                    <input type="text" id="injury-area">                       
                </div>                      
                <div class="flex-item-small-form">
                    <label for="injury-type" class="green">Type of Injury</label>
                    <p id="injury-type-error"></p>
                    <select name="injury-type" id="injury-type" data-mini="true">
                        <option value="" disabled selected>Choose one</option>
                        <option value="Concussion">Concussion</option>
                        <option value="Dislocation">Dislocation</option> 
                        <option value="Fracture">Fracture</option> 
                        <option value="Laceration">Laceration</option>                    
                        <option value="Sprain">Sprain</option> 
                    </select>
                </div> 
            </div>                             
                <div class="flex-container">
                    <div class="flex-item-small-form">
                        <label for="medication" class="green">Medication Taken</label>
                        <select name="medication" id="medication" data-mini="true">
                            <option value="None" selected>None</option>
                            <option value="Androgens">Androgens</option> 
                            <option value="Antacids">Antacids</option>
                            <option value="Antibiotics">Antibiotics</option> 
                            <option value="Antihistamines">Antihistamines</option> 
                            <option value="Asprin">Asprin</option> 
                            <option value="Anxiolytics">Anxiolytics</option>
                            <option value="Cytoprotectants">Cytoprotectants</option> 
                            <option value="Laxatives">Laxatives</option> 
                            <option value="Mydriatics">Mydriatics</option>
                            <option value="Opioids">Opioids</option>                         
                            <option value="Stimulants">Stimulants</option>     
                            <option value="Other">Other</option>                
                        </select>                      
                    </div>                      
                </div>
                <div class="flex-container">
                    <div class="flex-item-small-form" hidden id="hidden-medicine-name">
                        <p class="green">Medicine Name</p>
                        <input type="text" id="medicine-name">                       
                    </div> 
                    <div class="flex-item-small-form" hidden id="hidden-medicine-amount">
                        <p class="green">Amount</p>
                        <input type="text" id="medicine-amount">                       
                    </div>                  
                </div> 
                <div class="flex-container">
                    <div class="flex-item-small-form">
                        <fieldset data-theme="e" data-role="controlgroup" name="xray-required" id="xray-required" data-type="horizontal">
                            <legend class="green">X-ray Required</legend>
                            <p id="xray-required-error"></p>
                            <input type="radio" name="xray-required" id="xray-yes" value="yes">
                            <label for="xray-yes">Yes</label>
                            <input type="radio" name="xray-required" id="xray-no" value="no">
                            <label for="xray-no">No</label>
                        </fieldset>                       
                    </div>                      
                    <div class="flex-item-small-form">
                        <fieldset data-inline="true" data-theme="e" data-role="controlgroup" name="vomitting" id="vomitting" data-type="horizontal">
                            <legend class="green">Vomitting</legend>
                            <p id="vomitting-error"></p>
                            <input type="radio" name="vomitting" id="vomitting-yes" value="yes">
                            <label for="vomitting-yes">Yes</label>
                            <input type="radio" name="vomitting" id="vomitting-no" value="no">
                            <label for="vomitting-no">No</label>
                        </fieldset>                       
                    </div> 
                </div> 
                <div class="flex-container">
                    <div class="flex-item-small-form">
                        <label for="priority" class="green">Priority</label>
                        <select name="priority" id="priority" data-mini="true">
                            <option value="low" selected>Low</option>
                            <option value="medium">Medium</option>    
                            <option value="high">High</option>     
                        </select>      
                    </div>                      
                    <div class="flex-item-small-form">
                        <fieldset data-inline="true" data-theme="e" data-role="controlgroup" name="surgery-required" id="vomitting" data-type="horizontal">
                            <legend class="green">Surgery Required</legend>
                            <p id="surgery-required-error"></p>
                            <input type="radio" name="surgery-required" id="surgery-yes" value="yes">
                            <label for="surgery-yes">Yes</label>
                            <input type="radio" name="surgery-required" id="surgery-no" value="no">
                            <label for="surgery-no">No</label>
                        </fieldset>                       
                    </div> 
                </div>
                <div class="flex-container">
                    <div class="flex-item-small-form">
                        <p class="green">Arrival Date</p>
                        <input type="date" id="aande-arrival-date">                       
                    </div> 
                    <div class="flex-item-small-form">
                        <p class="green">Arrival Time</p>
                        <input type="time" id="aande-arrival-time" name="aande-arrival-time">                       
                    </div> 
                </div>   
                <p class="green">Notes</p> 
                <textarea id="aande-notes"></textarea>     
                <p id="aande-submit-error"></p>
                <button data-inline="true" id="aande-form-button" data-theme="e">SUBMIT</button>       
            </div>                
        </form>
          
    </div> 
    
</div> <!-- end a and e form-->

<div data-role="page" data-dialog="true" id="radiology-admission">
    <div data-role="header">
        <h4 class="light-grey light-text">Radiology</h4>   
        <h4 class="light-grey light-text">General Admission</h4>   
        <h4 class="light-grey light-text name"></h4>      
    </div>
    <div data-role="content">
        <form id="radiology-admission-form" method="post">
            <div class="flex-container">
                <div class="flex-item-small-form">
                    <label for="xray-area" class="green">Area for X-Ray</label>
                    <p id="xray-area-error"></p>
                    <select name="xray-area" id="xray-area" data-mini="true">
                        <option value="none" selected disabled>Choose one</option>
                        <optgroup label="Spine">
                            <option value="Cervical Spine">Cervical Spine</option>
                            <option value="Lumbar Spine">Lumbar Spine</option>
                            <option value="Sacrum">Sacrum</option>
                        </optgroup>
                        <optgroup label="Head/Neck">
                            <option value="Head">Head</option>
                            <option value="Neck">Neck</option>
                            <option value="Orbit">Orbit</option>
                            <option value="Sinus">Sinus</option>
                            <option value="Parotid">Parotid</option>
                        </optgroup>    
                        <optgroup label="Extremity">
                            <option value="Shoulder">Shoulder</option>
                            <option value="Humerus">Humerus</option>
                            <option value="Elbow">Elbow</option>
                            <option value="Finger">Finger</option>
                            <option value="Hip">Hip</option>
                        </optgroup>
                        <optgroup label="Body/Abdomen">
                            <option value="Cardiac">Cardiac</option>
                            <option value="Chest">Chest</option>
                            <option value="Abdomen">Abdomen</option>
                            <option value="Pelvis">Pelvis</option>
                        </optgroup>
                    </select>                           
                </div>
                <div class="flex-item-small-form">
                    <label for="xray-type" class="green">Type of X-Ray</label>
                    <p id="xray-type-error"></p>
                    <select name="xray-type" id="xray-type" data-mini="true">
                        <option value="none" selected disabled>Choose one</option>
                        <option value="MRI">MRI</option>
                        <option value="MRA">MRA</option>
                        <option value="MRV">MRV</option>
                    </select>
                </div>
            </div>
            <div class="flex-container">
                <div class="flex-item-small-form">
                    <fieldset data-theme="e" data-role="controlgroup" name="contrast" id="contrast" data-type="horizontal">
                        <legend class="green">Contrast</legend>
                        <p id="contrast-error"></p>
                        <input type="radio" name="contrast" id="contrast-yes" value="yes">
                        <label for="contrast-yes">Yes</label>
                        <input type="radio" name="contrast" id="contrast-no" value="no">
                        <label for="contrast-no">No</label>
                    </fieldset>   
                </div>
                <div class="flex-item-small-form">
                    <div id="hidden-side" hidden>
                        <fieldset data-theme="e" data-role="controlgroup" name="side" id="side" data-type="horizontal">
                            <legend class="green">Side</legend>
                            <p id="side-error"></p>
                            <input type="radio" name="side" id="side-left" value="Left">
                            <label for="side-left">Left</label>
                            <input type="radio" name="side" id="side-right" value="Right">
                            <label for="side-right">Right</label>
                            <input type="radio" name="side" id="side-bi" value="Bi">
                            <label for="side-bi">Bi</label>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="flex-container">
                <div class="flex-item-small-form">
                    <fieldset data-theme="e" data-role="controlgroup" name="pacemaker" id="pacemaker" data-type="horizontal">
                        <legend class="green">Pacemaker</legend>
                        <p id="pacemaker-error"></p>
                        <input type="radio" name="pacemaker" id="pacemaker-yes" value="yes">
                        <label for="pacemaker-yes">Yes</label>
                        <input type="radio" name="pacemaker" id="pacemaker-no" value="no">
                        <label for="pacemaker-no">No</label>
                    </fieldset>
                </div>
                <div class="flex-item-small-form">
                    <fieldset data-theme="e" data-role="controlgroup" name="sedation" id="sedation" data-type="horizontal">
                        <legend class="green">Sedation</legend>
                        <p id="sedation-error"></p>
                        <input type="radio" name="sedation" id="sedation-yes" value="yes">
                        <label for="sedation-yes">Yes</label>
                        <input type="radio" name="sedation" id="sedation-no" value="no">
                        <label for="sedation-no">No</label>
                    </fieldset>
                </div>
            </div>
            <div class="flex-container">                
                <div class="flex-item-small-form">
                    <fieldset data-theme="e" data-role="controlgroup" name="claustrophobia" id="claustrophobia" data-type="horizontal">
                        <legend class="green">Claustrophobia</legend>
                        <p id="claustrophobia-error"></p>
                        <input type="radio" name="claustrophobia" id="claustrophobia-yes" value="yes">
                        <label for="claustrophobia-yes">Yes</label>
                        <input type="radio" name="claustrophobia" id="claustrophobia-no" value="no">
                        <label for="claustrophobia-no">No</label>
                    </fieldset>
                </div>
                <div class="flex-item-small-form">
                    <fieldset data-theme="e" data-role="controlgroup" name="metal" id="metal" data-type="horizontal">
                        <legend class="green">Metal in Body</legend>
                        <p id="metal-error"></p>
                        <input type="radio" name="metal" id="metal-yes" value="yes">
                        <label for="metal-yes">Yes</label>
                        <input type="radio" name="metal" id="metal-no" value="no">
                        <label for="metal-no">No</label>
                    </fieldset>
                </div>
            </div>
            <div id="hidden-metal-area" hidden>
                <p class="green">Metal Area</p>
                <p id="metal-area-error"></p>
                <input type="text" id="metal-area">
            </div>
            <p class="green">Notes</p>
            <textarea id="radiology-notes"></textarea>
            <p id="radiology-submit-error"></p>
            <button id="radiology-admission-button" data-theme="e" data-inline="true">SUBMIT</button>
        </form>
    </div>
</div> <!-- end radiology record-->

<div data-role="page" data-dialog="true" id="macular-clinic">
    <div data-role="header">
        <h4 class="light-grey light-text">Ophthalmology</h4>   
        <h4 class="light-grey light-text">Macular Clinic</h4>   
        <h4 class="light-grey light-text name"></h4>      
    </div>
    <div data-role="content">
        <form id="macular-clinic-form" method="post">
            <p class="green">LVA/Contact Lens/Orthoptic Range</p>
            <div class="flex-container">
                <div class="flex-item-small-form">
                    <p class="green">Weeks</p>
                    <p id="lva-range-weeks-error"></p>
                    <input type="number" id="lva-range-weeks">
                </div>
                <div class="flex-item-small-form">
                    <p class="green">Months</p>
                    <p id="lva-range-months-error"></p>
                    <input type="number" id="lva-range-months">
                </div>
            </div>
            <div class="flex-container">
                <div class="flex-item-small-form">
                    <p class="green">Test Required</p>
                    <p id="test-required-error"></p>
                    <select name="test-required" id="test-required" data-mini="true">
                        <option value="none" selected disabled>Choose one</option>
                        <option value="OCT/FFA/Visual Fields">OCT/FFA/Visual Fields</option>
                        <option value="Laser">Laser</option>
                        <option value="Macular Injections">Macular Injections</option>
                    </select>
                </div>
                <div class="flex-item-small-form">
                    <fieldset data-theme="e" data-role="controlgroup" name="macular-surgery" id="macular-surgery" data-type="horizontal">
                        <legend class="green">Surgery</legend>
                        <p id="macular-surgery-error"></p>
                        <input type="radio" name="macular-surgery" id="macular-surgery-urgent" value="Urgent">
                        <label for="macular-surgery-urgent">Urgent</label>
                        <input type="radio" name="macular-surgery" id="macular-surgery-routine" value="Routine">
                        <label for="macular-surgery-routine">Routine</label>
                    </fieldset>
                </div>
            </div>
            <p class="green">Notes</p>
            <textarea id="macular-notes"></textarea>
            <p id="macular-submit-error"></p>
            <button id="macular-clinic-submit-button" data-inline="true" data-theme="e">SUBMIT</button>
        </form>
    </div>
</div> <!-- end macular record-->
<script>    

  
         //get parameter from URL seen at https://www.w3docs.com/snippets/javascript/how-to-get-current-url-in-javascript.html
        let urlString = window.location.href;
        let url = new URL(urlString);
        var patientId = url.searchParams.get("id");
        $("#patientId").text(patientId);
        let msg = url.searchParams.get("msg");
        if(msg === "success") {
            $("#update-successful").text("Medical Record Successfully Added");
        } else {
            $("#update-successful").text("");
        }
        var patientName = "";     

        //get patients name
        $.post("/backend/medical-record", {type: "getDetails", patientId: patientId})
        .done(function(data) {
            if(data === "none") {
                $(".name").text("An unexpected error occurred");
                $(".name").addClass("error");
            } else {
                let firstName = data.firstName;
                let middleNames = data.middleNames;
                let lastName = data.lastName;
                let name = `${firstName} ${middleNames} ${lastName}`;

                $(".name").text(name);
            } //end if/else            

        }); //end post

     $("#aande-admission-form").submit(function(event) {   
        event.preventDefault(); 
        //remove all previous errors
        removeError(".error");  
         //get details from inputs
         let locationOccurred = $("#aande-location").val();
         let description = $("#injury-description").val();
         let injuryArea = $("#injury-area").val();
         let typeOfInjury = $("#injury-type").find(":selected").text();
         let medication = $("#medication").find(":selected").text();
         let medicationName = $("#medicine-name").val();
         let medicationAmount = $("#medicine-amount").val();
         let xrayRequired = $("input[name='xray-required']:checked").val();
         let vomitting = $("input[name='vomitting']:checked").val();
         let priority = $("#priority").find(":selected").text();
         let surgery = $("input[name='surgery-required']:checked").val();
         let date = $("#aande-arrival-date").val();
         let time = $("input[name='aande-arrival-time']").val();
         let arrivalDate = `${date} ${time}`;
         let notes = $("notes").val();

         //form validation
        if(locationOccurred === "") {
            addError("#aande-location-error", "Please enter a location");
        } else {
            removeError("#aande-location-error");
        }
        if(description === "") {
            addError("#injury-description-error", "Please describe injury");
        } else {
            removeError("#injury-description-error");
        }
        if(injuryArea === "") {
            addError("#injury-area-error", "Please specify area");
        } else {
            removeError("#injury-area-error");
        }
        if(typeOfInjury === "Choose one") {
            addError("#injury-type-error", "Please select type");
        } else {
            removeError("#injury-type-error");
        }
        if(!xrayRequired) {
            addError("#xray-required-error", "Please specify if required");
        } else {
            removeError("#xray-required-error");
        }
        if(!vomitting) {
            addError("#vomitting-error", "Please specify if required");
        } else {
            removeError("#vomitting-error");
        }
        if(!surgery) {
            addError("#surgery-required-error", "Please specify if required");
        } else {
            removeError("#surgery-required-error");
        }

        //post to backend only if no errors exist
        if(!($(".error").length)) {
         $.post("/backend/medical-record", {type: "createAAndERecord", patientId:patientId,
         locationOccurred:locationOccurred, description:description, injuryArea:injuryArea,
         typeOfInjury:typeOfInjury, medication:medication, medicationName:medicationName,
         medicationAmount:medicationAmount, xrayRequired:xrayRequired, vomitting:vomitting,
         priority:priority, surgery:surgery, arrivalDate:arrivalDate, notes:notes})
         .done(function(data) {
             if(data === "success") {
                 window.location = `/patient/medical-record/create?id=${patientId}&msg=success`;
             } else {
                 addError("#aande-submit-error", "An unexpected error occurred");
             }
         })
        } //end if
     }) //end form submission

     $("#radiology-admission-form").submit(function(event) {   
        event.preventDefault(); 
        //remove all previous errors
        removeError(".error");  
         //get details from inputs
         let area = $("#xray-area").find(":selected").text();
         let xrayType = $("#xray-type").find(":selected").text();
         let contrast = $("#contrast").find(":checked").val();  
         let side = $("#side").find(":checked").val();  
         //set default value for side
         if(!side) {
             side = "";
         }
         let pacemaker = $("#pacemaker").find(":checked").val();  
         let sedation = $("#sedation").find(":checked").val();  
         let claustrophobia = $("#claustrophobia").find(":checked").val();  
         let metal = $("#metal").find(":checked").val();  
         let metalArea = $("#metal-area").val();
         let notes = $("#radiology-notes").val();

         //form validation
        if(area === "Choose one") {
            addError("#xray-area-error", "Please pick an area");
        } else {
            removeError("#xray-area-error");
        }
        if(xrayType === "Choose one") {
            addError("#xray-type-error", "Please pick a type");
        } else {
            removeError("#xray-type-error");
        }        
        if(!contrast) {
            addError("#contrast-error", "Please specify if required");
        } else {
            removeError("#contrast-error");
        }
        //only validate side if not hidden
        if(!$("#hidden-side").is(":hidden")) {
            if(!side) {
                addError("#side-error", "Please specify side");
            } else {
                removeError("#side-error");
            }
        }
        if(!pacemaker) {
            addError("#pacemaker-error", "Please select");
        } else {
            removeError("#pacemaker-error");
        }
        if(!sedation) {
            addError("#sedation-error", "Please select");
        } else {
            removeError("#sedation-error");
        }
        if(!claustrophobia) {
            addError("#claustrophobia-error", "Please select");
        } else {
            removeError("#claustrophobia-error");
        }
        if(!metal) {
            addError("#metal-error", "Please select");
        } else {
            removeError("#metal-error");
        }
        //only validate metal area if not hidden
        if(!$("#hidden-metal-area").is(":hidden")) {
            if(metalArea === "") {
                addError("#metal-area-error", "Please specify area");
            } else {
                removeError("#metal-area-error");
            }
        }
        //post to backend only if no errors exist
        if(!($(".error").length)) {
         $.post("/backend/medical-record", {type: "createRadiologyRecord", patientId:patientId, 
         area:area, xrayType:xrayType, contrast:contrast, side:side, pacemaker:pacemaker, 
         sedation:sedation, claustrophobia:claustrophobia, metal:metal, 
         metalArea:metalArea, notes:notes})
         .done(function(data) {
             console.log(data);
             if(data === "success") {
                 window.location = `/patient/medical-record/create?id=${patientId}&msg=success`;
             } else {
                 addError("#radiology-submit-error", "An unexpected error occurred");
             }
         })
        } //end if
     }) //end form submission

     $("#macular-clinic-form").submit(function(event) {   
        event.preventDefault(); 
        //remove all previous errors
        removeError(".error");  
         //get details from inputs
         let LVARangeWeeks = $("#lva-range-weeks").val();
         let LVARangeMonths = $("#lva-range-months").val();
         let testRequired = $("#test-required").find(":selected").text();
         let surgery = $("#macular-surgery").find(":checked").val(); 
         let notes = $("#macular-notes").val();
         
         //form validation
        if(testRequired === "Choose one") {
            addError("#test-required-error", "Please pick a test");
        } else {
            removeError("#test-required-error");
        }
        if(LVARangeWeeks === "") {
            addError("#lva-range-weeks-error", "Please enter a number");
        } else {
            removeError("#lva-range-weeks-error");
        }  
        if(LVARangeWeeks < 0) {
            addError("#lva-range-weeks-error", "Can not be negative value");
        } else {
            removeError("#lva-range-weeks-error");
        }  
        if(LVARangeMonths === "") {
            addError("#lva-range-months-error", "Please enter a number");
        } else {
            removeError("#lva-range-months-error");
        } 
        if(LVARangeMonths < 0) {
            addError("#lva-range-months-error", "Can not be negative value");
        } else {
            removeError("#lva-range-months-error");
        }
        if(!surgery) {
            addError("#macular-surgery-error", "Please select");
        } else {
            removeError("#macular-surgery-error");
        }

        //post to backend only if no errors exist
        if(!($(".error").length)) {
         $.post("/backend/medical-record", {type: "createMacularRecord", patientId:patientId, 
         LVARangeWeeks:LVARangeWeeks, LVARangeMonths:LVARangeMonths, testRequired:testRequired, 
         surgery:surgery, notes:notes})
         .done(function(data) {
             console.log(data);
             if(data === "success") {
                 window.location = `/patient/medical-record/create?id=${patientId}&msg=success`;
             } else {
                 addError("#macular-submit-error", "An unexpected error occurred");
             }
         })
        } //end if
     }) //end form submission
    
     $("#aande-admission-form-link").click(function() {
         //add time and date to form when link clicked
        //create todays date and time to add to form inputs
        var todaysDate = new Date();
        //converts date to string formatted to html date input https://stackoverflow.com/questions/3066586/get-string-in-yyyymmdd-format-from-js-date-object
        var dateNow = todaysDate.toISOString().slice(0,10);
        //get time now
        var timeNow = todaysDate.toISOString().slice(11,16);
        $('#aande-arrival-time').val(timeNow);
        $('#aande-arrival-date').val(dateNow);
    });

    //show hidden fields if value of medicine is changed
    $("#medication").change(function() {
        let value = $(this).find(":selected").val();
        if(value !== "none") {
            //if medicine selected, show other input fields
            $("#hidden-medicine-name").show();
            $("#hidden-medicine-amount").show();
        } else {
            //if none selected, hide other input fields
            $("#hidden-medicine-name").hide();
            $("#hidden-medicine-amount").hide();
        }
    })

    //show hidden side field if certain body area is selected
    $("#xray-area").change(function() {
        let value = $(this).find(":selected").val();
        
        if(value === "Shoulder" || value === "Humerus" || value === "Elbow" || 
        value === "Finger" || value === "Hip") {
            //if ceratin areas selected, show side of body selection
            $("#hidden-side").show();
        } else {
            //if none selected, hide 
            $("#hidden-side").hide();
        }
    });

    //show hidden field if value of metal is changed
    $("#metal").change(function() {
        let value = $(this).find(":checked").val();
        if(value === "yes") {
            //if yes selected, show other area input field
            $("#hidden-metal-area").show();
        } else {
            //if no selected, hide other area
            $("#hidden-metal-area").hide();
        }
    })

</script>
</body>
</html>