{% include './header/header.html.twig' %}
<body>
<div data-role="page">  
    {% include './sidenav/sidenav.html.twig' %} 
    <div data-role="content" class="width-720"> 
        <div class="box">
            <h3 class="green">All Upcoming Appointments</h3>
            <input type="hidden" id="upcoming-appointments-insert-before">
        </div>
        <div class="box">
            <h3 class="green">All Previous Appointments</h3>
            <input type="hidden" id="completed-appointments-insert-before">
        </div>        
    </div>
</div>
<script>
    //get parameter from URL seen at https://www.w3docs.com/snippets/javascript/how-to-get-current-url-in-javascript.html
    let urlString = window.location.href;
    let url = new URL(urlString);
    var patientId = url.searchParams.get("id");

    getUpcomingAppointments();

    function getUpcomingAppointments() {
        $.post("/backend/appointment", {type: "getUpcomingAppointments", patientId:patientId})
        .done(function(data) {
            console.log(data);
            $(".upcoming-appointments").remove();
            if(data === "none") {
                $("<p class='upcoming-appointments'>No upcoming appointments</p>").insertBefore("#upcoming-appointments-insert-before");
                $("<p class='upcoming-appointments'>No upcoming appointments</p>").insertBefore("#previous-appointments-insert-before");
            } else {
                let upcomingAppointments = data.upcomingAppointments;
                if(upcomingAppointments.length > 0) {
                    //loop through each appointment
                    upcomingAppointments.forEach(function(appointment) {
                        //update DOM with details
                        updateDOMAppointment(appointment, "upcoming");
                    }); //end forEach                    

                } else {
                    $("<p class='upcoming-appointments'>No upcoming appointments</p>").insertBefore("#upcoming-appointments-insert-before");
                }
                let completedAppointments = data.completedAppointments;
                if(completedAppointments.length > 0) {
                    //loop through each appointment
                    completedAppointments.forEach(function(appointment) {
                        //update DOM with details
                        updateDOMAppointment(appointment, "completed");
                    }); //end forEach                    

                } else {
                    $("<p class='upcoming-appointments'>No previous appointments</p>").insertBefore("#completed-appointments-insert-before");
                }
                
            }
        });

        //update DOM per type of appointment
        function updateDOMAppointment(appointment, type) {
            let appointmentId = appointment.appointmentId;
            let departmentName = appointment.departmentName;
            let date = appointment.date;
            let staffName = appointment.staffName;
            let time = appointment.time;
            let staffType = appointment.staffType;

            let htmlAppointment = `<a class="upcoming-appointments" href="#" onclick="window.location='/patient/appointment/view?id=${patientId}&appoint=${appointmentId}'"><p class='input-style-dark'>${date}, ${time}, ${staffType}. ${staffName}, ${departmentName}</p></a>`;
            $(htmlAppointment).insertBefore(`#${type}-appointments-insert-before`);
        }
    }
    
</script>
</body>
</html>