{% include './header/header.html.twig' %}
<body>
<div data-role="page">
    <div data-role="panel" id="side-nav">
        <img src="{{asset('assets/images/logo.svg')}}" class="centre-img width-90p" alt="UHW Logo">
        <a href="#home" class="nav-link-button ui-btn ui-shadow ui-corner-all ui-btn-icon-right ui-icon-home" data-theme="c">Home</a>
        <a href="#home" class="nav-link-button ui-btn ui-shadow ui-corner-all ui-btn-icon-right ui-icon-search" data-theme="c">Search</a>
        <a href="#home" class="nav-link-button ui-btn ui-shadow ui-corner-all ui-btn-icon-right ui-icon-user" data-theme="c">Patient</a>
        <a href="#home" class="nav-link-button ui-btn ui-shadow ui-corner-all ui-btn-icon-right ui-icon-bullets" data-theme="c">Records</a>

    </div>  
      
    <div data-role="content" class="width-960">
        <a href="#side-nav" class="ui-btn ui-icon-bars ui-btn-icon-notext ui-corner-all" id="open-nav" data-role="button" data-inline="true" data-display="push" data-position="left" data-dismissible="true"></a>
        <h2 class="inline" id="name"></h2>
        <a href="#edit-profile" class="ui-shadow ui-btn ui-corner-all ui-btn-inline" data-transition="pop">EDIT</a>
        <p id="patientId"></p>
        <div class="width-240">
            <button>NEW RECORD</button>
        </div>
        <div class="flex-container">
            <div class="box flex-item-1">
                <div class="flex-container">
                    <div class="flex-item-small-form">
                        <p class="green">Priority</p>
                        <p class="input-style" id="priority"></p>                        
                    </div>                      
                    <div class="flex-item-small-form">
                        <p class="green">Status</p>
                        <p class="input-style bg-light-green" id="status"></p>                        
                    </div>                
                </div>
                <div class="flex-container">
                    <div class="flex-item-small-form">
                        <p class="green">Date of Birth</p>
                        <p class="input-style" id="dob"></p>                        
                    </div>                      
                    <div class="flex-item-small-form">
                        <p class="green">Department</p>
                        <p class="input-style bg-light-green" id="department"></p>                        
                    </div>                
                </div>
                <div class="flex-container">
                    <div class="flex-item-small-form">
                        <p class="green">Telephone</p>
                        <p class="input-style" id="telNo"></p>                        
                    </div>                      
                    <div class="flex-item-small-form">
                        <p class="green">Mobile</p>
                        <p class="input-style" id="mobileNo"></p>                        
                    </div>                
                </div>
                <p class="green">Address</p>
                <p class="input-style" id="address-line1"></p>
                <p class="input-style" id="address-line2"></p>
                <p class="input-style" id="address-line3"></p>
                <div class="flex-container">
                    <div class="flex-item-small-form">
                        <p class="input-style" id="county"></p>                        
                    </div>                      
                    <div class="flex-item-small-form">
                        <p class="input-style" id="eircode"></p>                        
                    </div>                
                </div>
                <p class="green">Email</p>
                <p class="input-style" id="email"></p> 
            </div>
            <div class="box flex-item-1">
                <p class="green">Appointments</p>
                <div class="flex-container">
                    <input type="date" id="appointment-date">                
                    <form id="appointment-update-form" method="post" onsubmit="getAppointments(event);">
                        <button data-inline="true">View</button>
                    </form>
                </div>  
                <h3 class="dark-green light-text">Upcoming Appointments</h3>  
                <input type="hidden" id="upcoming-appointments-insert">              
            </div>          
            
        </div>
        <div class="flex-container">
            <div class="box flex-item-1">
                <div data-role="collapsible">
                    <h4>Medical Records</h4>
                    <p class="input-style-dark">Cardiology, Dr. Murphy, 25 Mar 2019, 14:00</p> 
                    <p class="input-style-dark">Orthapedics, Dr. Hoffstedder, 23 May 2018, 14:00</p> 
                    <p class="input-style-dark">Cardiology, Dr. Murphy, 25 Mar 2019, 14:00</p> 
                </div>                
            </div>
            <div class="box flex-item-1 flex-test">
                <div data-role="collapsible">
                    <h4>Appointment History</h4>
                    <input type="hidden" id="completed-appointments-insert"> 
                </div>
            </div>
            
        </div>        
    </div>
</div>

<div data-role="page" id="edit-profile" data-dialog="true">
    <div data-role="header">
        <h3 class="light-grey light-text">Edit Profile</h3> 
    </div>
    <div data-role="content">
        <p class="green">First Name</p>
        <input type="text" class="input-style" id="edit-first-name">
        <p class="green">Middle Name(s)</p>
        <input type="text" class="input-style" id="edit-middle-names">
        <p class="green">Last Name</p>
        <input type="text" class="input-style" id="edit-last-name">
        <div class="flex-container">
            <div class="flex-item-small-form">
                <p class="green">Date of Birth</p>
                <input type="date" class="input-style" id="edit-dob">                      
            </div>                      
            <div class="flex-item-small-form">
                <label for="department" class="green">Department</label>
                <select class="green" name="department" id="edit-department" data-mini="true">
                    <option value="" disabled selected>Choose dept</option>
                    <option value="antrim">Antrim</option>
                    <option value="armagh">Armagh</option>
                    <option value="carlow">Carlow</option>    
                </select>                  
            </div>                
        </div>
        <div class="flex-container">
            <div class="flex-item-small-form">
                <p class="green">Telephone</p>
                <input type="number" class="input-style" id="edit-telNo">                      
            </div>                      
            <div class="flex-item-small-form">
                <p class="green">Mobile</p>
                <input type="number" class="input-style" id="edit-mobileNo">                      
            </div>                
        </div>
        <p class="green">Address</p>
        <input type="text" class="input-style" id="edit-address-line1">
        <input type="text" class="input-style" id="edit-address-line2">
        <input type="text" class="input-style" id="edit-address-line3">
        <div class="flex-container">
            <div class="flex-item-small-form"> 
            <!-- found at http://www.waterfordwebdesign.ie/alphabetical-list-32-counties-ireland/-->
            <label for="county" class="green">County</label>
            <select name="county" id="edit-county" data-mini="true">
                <option value="" disabled selected>Choose county</option>
                <option value="antrim">Antrim</option>
                <option value="armagh">Armagh</option>
                <option value="carlow">Carlow</option>
                <option value="cavan">Cavan</option>
                <option value="clare">Clare</option>
                <option value="cork">Cork</option>
                <option value="derry">Derry</option>
                <option value="donegal">Donegal</option>
                <option value="down">Down</option>
                <option value="dublin">Dublin</option>
                <option value="fermanagh">Fermanagh</option>
                <option value="galway">Galway</option>
                <option value="kerry">Kerry</option>
                <option value="kildare">Kildare</option>
                <option value="kilkenny">Kilkenny</option>
                <option value="laois">Laois</option>
                <option value="leitrim">Leitrim</option>
                <option value="limerick">Limerick</option>
                <option value="longford">Longford</option>
                <option value="louth">Louth</option>
                <option value="mayo">Mayo</option>
                <option value="meath">Meath</option>
                <option value="monaghan">Monaghan</option>
                <option value="offaly">Offaly</option>
                <option value="roscommon">Roscommon</option>
                <option value="sligo">Sligo</option>
                <option value="tipperary">Tipperary</option>
                <option value="tyrone">Tyrone</option>
                <option value="waterford">Waterford</option>
                <option value="westmeath">Westmeath</option>
                <option value="wexford">Wexford</option>
                <option value="wicklow">Wicklow</option>
            </select>                       
            </div>                      
            <div class="flex-item-small-form">
                <input type="text" class="input-style" id="edit-eircode">                      
            </div>                
        </div>
        <p class="green">Email</p>
        <input type="text" class="input-style" id="email">
        <button data-inline="true">Update</button>
    </div>
</div> <!-- /edit-profile-->
<script>
    
    $(document).ready( function() {

        let patientId = 1;
        getPatientDetails(patientId);
        getPatientOutstandingAppoint(patientId);
        getPatientCompleteAppoint(patientId);
        //add todays date to date input when page loads
        var todaysDate = new Date();
        //converts date to string formatted to html date input https://stackoverflow.com/questions/3066586/get-string-in-yyyymmdd-format-from-js-date-object
        var todaysDateFormat = todaysDate.toISOString().slice(0,10);
        $('#appointment-date').val(todaysDateFormat);
    });

    function getAppointments(event) {
        event.preventDefault();
    }

    

    function getPatientDetails(patientId) {

        $.post("/backend/patient", {type:"details", patientId:patientId})
        .done(function(data) {
            console.log(data);
            //filter json data from backend
            let details = data.details;
            let name = details.name;
            let patientId = details.id;
            let priority = details.priority;
            let status = details.status;
            let dob = details.dob;
            let department = details.department;
            let telNo = details.telNo;
            let mobileNo = details.mobileNo;
            let addressArray = details.address;
            let county = details.county;
            let eircode = details.eircode;
            let email = details.email;

            //update html file with data
            $("#name").text(name);
            $("#patientId").text(patientId);
            $("#priority").text(priority);
            //set background colour of priority
            switch(priority) {                
                case "Medium":
                    $("#priority").addClass("bg-amber");
                    break;
                case "High":
                    $("#priority").addClass("bg-red");
                    break;
                default:
                    $("#priority").addClass("bg-light-green");
            }

            //add data to main patient profile
            $("#status").text(status);
            $("#dob").text(dob);
            $("#department").text(department);
            $("#telNo").text(telNo);
            $("#mobileNo").text(mobileNo);
            $("#email").text(email);
            $("#county").text(county);
            $("#eircode").text(eircode);
            $("#address-line1").text(addressArray[0]);
            $("#address-line2").text(addressArray[1]);
            $("#address-line3").text(addressArray[2]);    

            //add data to edit patient profile dialog window

        });
    }

    function getPatientOutstandingAppoint(patientId) {
        $.post("/backend/patient", {type:"outstandingAppoint", patientId:patientId})
        .done(function(data) {
            let appointments = data.outstandingAppointments;
            if(data === "none") {
                //update dom if no records found
                $("No upcoming appointments").insertBefore("#upcoming-appointments-insert");
            } else {
                appointments.forEach(function(appointment) {
                    let appointmentId = appointment.appointmentId;
                    let departmentName = appointment.departmentName;
                    let date = appointment.date;
                    let medicalStaff = appointment.medicalStaff;
                    let time = appointment.time;

                    let htmlAppointment = `<p class='input-style-dark'>${date}, ${time}, ${medicalStaff}, ${departmentName}</p>`;

                    $(htmlAppointment).insertBefore("#upcoming-appointments-insert");
                        
                });
            } //end if/else        
            
        }); //end post/done

    } //end getPatientOutstandingAppoint

    function getPatientCompleteAppoint(patientId) {
        $.post("/backend/patient", {type:"completeAppoint", patientId:patientId})
        .done(function(data) {
            console.log(data);           
            if(data === "none") {
                //update dom if no records found
                $("No upcoming appointments").insertBefore("#completed-appointments-insert");
            } else {
                let appointments = data.completedAppointments;
                appointments.forEach(function(appointment) {
                    let appointmentId = appointment.appointmentId;
                    let departmentName = appointment.departmentName;
                    let date = appointment.date;
                    let medicalStaff = appointment.medicalStaff;
                    let time = appointment.time;

                    /*let htmlAppointment = "<p class='input-style-dark'>" + 
                        date + ", " + time + ", " + medicalStaff + ", " +
                        departmentName + "</p>";*/
                        
                    let htmlAppointment = `<p class='input-style-dark'>${date}, ${time}, ${medicalStaff}, ${departmentName}</p>`;
                     

                    $(htmlAppointment).insertBefore("#completed-appointments-insert");
                        
                });
            } //end if/else        
            
        }); //end post/done

    } //end getPatientCompleteAppoint
</script>
</body>
</html>

