{% include './header/header.html.twig' %}

<div data-role="page">
    <div data-role="panel" id="side-nav">
        <img src="{{asset('assets/images/logo.svg')}}" class="centre-img width-90p" alt="UHW Logo">
    </div>  
      
    <div data-role="content">
        <a href="#side-nav" id="open-nav" data-role="button" data-inline="true" data-display="push" data-position="left" data-dismissible="true">Show panel</a>
        <p>CPjoijdsicodi vd hsuichuihdcuihsuidhciodu cudsuicniusdich sdiocjiosdciu sdicb isdncjisdc
            sdiuhsiuduisndoii n osdv
             d ndkjvsdiovjjsd dsvsdvnsjdbvjnsdkjcksldjsdkvbjksdnvlksdklcush uie hufhuwhu we fwef
             ondvibduinvooviniovn
        </p>        
    </div>
</div>
<script>

</script>

