{% include './header/header.html.twig' %}

<div data-role="page">
    <div data-role="panel" id="side-nav">
        <img src="{{asset('assets/images/logo.svg')}}" class="centre-img width-90p" alt="UHW Logo">
        <a href="#home" class="nav-link-button ui-btn ui-shadow ui-corner-all ui-btn-icon-right ui-icon-home" data-theme="c">Home</a>
        <a href="#home" class="nav-link-button ui-btn ui-shadow ui-corner-all ui-btn-icon-right ui-icon-search" data-theme="c">Search</a>
        <a href="#home" class="nav-link-button ui-btn ui-shadow ui-corner-all ui-btn-icon-right ui-icon-user" data-theme="c">Patient</a>
        <a href="#home" class="nav-link-button ui-btn ui-shadow ui-corner-all ui-btn-icon-right ui-icon-bullets" data-theme="c">Records</a>

    </div>  
      
    <div data-role="content" class="width-960">
        <a href="#side-nav" class="ui-btn ui-icon-bars ui-btn-icon-notext ui-corner-all" id="open-nav" data-role="button" data-inline="true" data-display="push" data-position="left" data-dismissible="true"></a>
        <h2 class="inline">Eoin Joseph Hearne</h2>
        <button data-inline="true">EDIT</button>
        <p>2316516506516506</p>
        <div class="width-240">
            <button>NEW RECORD</button>
        </div>
        <div class="flex-container">
            <div class="box flex-item-1">
                <div class="flex-container">
                    <div class="flex-item-1">
                        <p class="green">Priority</p>
                        <p class="input-style bg-red">High</p>                        
                    </div>                      
                    <div class="flex-item-1">
                        <p class="green">Status</p>
                        <p class="input-style bg-light-green">In-patient</p>                        
                    </div>                
                </div>
                <div class="flex-container">
                    <div class="flex-item-1">
                        <p class="green">Date of Birth</p>
                        <p class="input-style">25 May 1986</p>                        
                    </div>                      
                    <div class="flex-item-1">
                        <p class="green">Department</p>
                        <p class="input-style bg-light-green">Cardiology</p>                        
                    </div>                
                </div>
                <p class="green">Address</p>
                <p class="input-style">47 Pheasant Walk</p>
                <p class="input-style">Collins Avenue</p>
                <p class="input-style">Dunmore Road</p>
                <div class="flex-container">
                    <div class="flex-item-1">
                        <p class="input-style">Waterford</p>                        
                    </div>                      
                    <div class="flex-item-1">
                        <p class="input-style">NJY 23H</p>                        
                    </div>                
                </div>
                <p class="green">Email</p>
                <p class="input-style">ojoesuff@homtail.com</p> 
            </div>
            <div class="box flex-item-1">
                <p class="green">Appointments</p>
                <div class="flex-container">
                    <input type="date" id="appointment-date">                
                    <form id="appointment-update-form" method="post" onsubmit="getAppointments(event);">
                        <button data-inline="true">View</button>
                    </form>
                </div>  
                <h2 class="dark-green light-text">Upcoming Appointments</h2>
                <p class="input-style-dark">25 Mar 2019, 14:00, Dr. Murphy, Cardiology</p>
                <p class="input-style-dark">16 Mar 2019, 13:00, Dr. Nobody, A&amp;E</p>
                    
            </div>
            
            
        </div>
        <div class="flex-container">
            <div class="box flex-item-1 flex-test">
                <div class="flex-container">
                    <p class="green">Medical Records</p>
                </div>
            </div>
            <div class="box flex-item-1 flex-test">
                <div class="flex-container">
                    <p class="dark-green">Appointment History</p>
                </div>
            </div>
            
        </div>        
    </div>
</div>
<script>
    //add todays date to date input when page loads
    $(document).ready( function() {
        var todaysDate = new Date();
        //converts date to string formatted to html date input https://stackoverflow.com/questions/3066586/get-string-in-yyyymmdd-format-from-js-date-object
        var todaysDateFormat = todaysDate.toISOString().slice(0,10);
        $('#appointment-date').val(todaysDateFormat);
    });

    function getAppointments(event) {
        event.preventDefault();
    }
</script>

