{% include './header/header.html.twig' %}
<body>
<div data-role="page">    
    {% include './sidenav/sidenav.html.twig' %} 
    <div data-role="content" class="width-640">
        
        <h2>Patient Search</h2>
        <div id="quick-search">
            <input type="text" name="search-box" id="search-box" placeholder="Enter first or last name">
            <div id="quick-search-results">
                <input type="hidden" id="quick-search-insert">
            </div>
        </div>
        
        <div data-role="collapsible" id="advanced-search" data-theme="c">
            <h4>Advanced Search</h4>
            <form method="post" id="update-patient-form">
                <div class="flex-container">
                    <div class="flex-item-small-form">
                        <p class="green">First Name</p>
                        <input type="text" class="input-style" id="patient-first-name">
                    </div>
                    <div class="flex-item-small-form">
                        <p class="green">Middle Name(s)</p>
                        <input type="text" class="input-style" id="patient-middle-names">
                    </div>
                </div>  
                <div class="flex-container">
                    <div class="flex-item-small-form"> 
                        <p class="green">Last Name</p>
                        <input type="text" class="input-style" id="patient-last-name">
                    </div>
                    <div class="flex-item-small-form">
                        <p class="green">Date of Birth</p>
                        <input type="date" class="input-style" id="patient-dob" value="1000-01-01"> 
                    </div>
                </div>  
                <p class="green">Address</p>
                <input type="text" class="input-style" id="patient-address-line1">
                <input type="text" class="input-style" id="patient-address-line2">
                <input type="text" class="input-style" id="patient-address-line3">
                
                <div class="flex-container">
                        <div class="flex-item-small-form"> 
                            <p class="green">Email</p>
                            <input type="email" class="input-style" id="patient-email"> 
                        </div>
                        <div class="flex-item-small-form">
                            <p class="green">Patient Number</p>
                            <input type="number" class="input-style" id="patient-id">  
                        </div>
                    </div>                       
                <a href="#advanced-search-results" data-inline="true" id="search-patient-button" onmousedown="advancedSearch(event, 'patient')" 
                class="ui-shadow ui-btn ui-corner-all ui-btn-inline" data-transition="pop" data-theme="d">Search</a>
            </form>
        </div>
    </div>
</div>
<div data-role="page" id="advanced-search-results" data-dialog="true">
    <div data-role="header">
        <h3 class="light-grey light-text">Advanced Search Results</h3>        
    </div>
    <div data-role="content">
        {% include './pagination/pagination.html.twig' %} 
        <input type="hidden" id="advanced-search-insert"> 
    </div>
</div>
<script>

    //get parameter from URL seen at https://www.w3docs.com/snippets/javascript/how-to-get-current-url-in-javascript.html
    let urlString = window.location.href;
    let url = new URL(urlString);
    var msg = url.searchParams.get("msg");
    if(msg === "deleted") {
        $("#patient-search-success").text("Record successfully deleted");
    } else {
        $("#patient-search-success").remove();
    }

    //quick search executes on keyup and posts to backend when 
    //a minimum number of characters are entered
    $("#search-box").keyup(function() {
        $(".search-result").remove();
        let maxChar = 2;
        let search = $("#search-box").val();
        if(search.length > maxChar) {
            $.post("/backend/search", {type: "quickSearch", search: search})
            .done(function(data) {
                if(data === "none") {
                    $(".search-result").remove();
                    $("<div class='search-result'><p>No records found</p><hr></div>").insertBefore("#quick-search-insert");
                } else {
                    $(".search-result").remove();
                    $("<div class='search-result'><hr></div>").insertBefore("#quick-search-insert");
                    data.forEach(function(patient) {
                        let id = patient.id;
                        let firstName = patient.firstName;
                        let middleNames = patient.middleNames;
                        let lastName = patient.lastName;
                        let name = `${firstName}${middleNames ? " " + middleNames + " " : " " }${lastName ? " " + lastName + " " : " "}`;
                        let address = patient.address;
                        let addressLine1 = address[0];
                        let addressLine2 = address[1];
                        let addressLine3 = address[2];
                        let county = patient.county;
                        //change to blank string if no option selected
                        if(county === "Choose option") {
                            county = "";
                        }
                        let fullAddress = `${addressLine1} ${addressLine2} ${addressLine3} ${county}`;                        

                        $(`<div class='search-result'><a class='search-result-link' onclick="window.location = '/patient/profile?id=${id}'" href='#'><p>${name}, ${fullAddress}, ${id}</p></a><hr></div>`)
                        .insertBefore("#quick-search-insert");
                    });
                }          

                
            })
            //throw error if fails found at https://stackoverflow.com/questions/9847244/what-are-the-parameters-sent-to-fail-in-jquery
            .fail(function (jqXHR, textStatus, error) {
                showErrorPage();
            }); //end post
        }
    });

    
</script>
</body>
</html>