{% include './header/header.html.twig' %}
<body>
<div data-role="page">    
    {% include './sidenav/sidenav.html.twig' %} 
    <div data-role="content" class="width-960">  
            <!-- shows links only if certain roles are logged in-->
            {% if is_granted("ROLE_CLERICAL") %}
            <a href="#edit-profile" class="ui-shadow ui-btn ui-corner-all ui-btn-inline" data-transition="pop">EDIT</a>
            {% endif %} 
            {% if is_granted("ROLE_ADMIN") %}
            <a href="#delete-profile" class="ui-shadow ui-btn ui-corner-all ui-btn-inline" data-transition="pop">DELETE</a> 
            {% endif %}                  
        <h2 class="inline name"></h2>
        <h4 class="green" id="updated-success"></h4>
        <div class="flex-container">
            <div class="box flex-item-1">
                {% if is_granted("ROLE_DOCTOR") or is_granted("ROLE_NURSE") %}
                <button data-inline="true" data-theme="e" id="add-medical-record">+ MEDICAL RECORD</button>
                {% endif %}
                <div class="flex-container">
                     <div class="flex-item-small-form">
                        <p class="green">Priority</p>
                        <p class="input-style" id="priority"></p> 
                    </div>                      
                    <div class="flex-item-small-form">
                        <p class="green">Status</p>
                        <p class="input-style bg-light-green" id="status"></p>                        
                    </div>                
                </div>
                <div class="flex-container">
                    <div class="flex-item-small-form">
                        <p class="green">Date of Birth</p>
                        <p class="input-style" id="dob"></p>                        
                    </div>                      
                    <div class="flex-item-small-form">
                        <p class="green">Department</p>
                        <p class="input-style bg-light-green" id="department"></p>                                              
                    </div>                
                </div>
                <div class="flex-container">
                    <div class="flex-item-small-form">
                        <p class="green">Telephone</p>
                        <p class="input-style" id="telNo"></p>                        
                    </div>                      
                    <div class="flex-item-small-form">
                        <p class="green">Mobile</p>
                        <p class="input-style" id="mobileNo"></p>                        
                    </div>                
                </div>
                <p class="green">Address</p>
                <p class="input-style" id="address-line1"></p>
                <p class="input-style" id="address-line2"></p>
                <p class="input-style" id="address-line3"></p>
                <div class="flex-container">
                    <div class="flex-item-small-form">
                        <p class="green">County</p>
                        <p class="input-style" id="county"></p>                        
                    </div>                      
                    <div class="flex-item-small-form">
                        <p class="green">Eircode</p>
                        <p class="input-style" id="eircode"></p>                        
                    </div>                
                </div>  
                <p class="green">Country</p>
                <p class="input-style" id="country"></p>           
                <p class="green">Email</p>
                <p class="input-style" id="email"></p> 
            </div>
            <div class="box flex-item-1">
                <h3 class="green">Appointments</h3>
                {% if is_granted("ROLE_DOCTOR") or is_granted("ROLE_NURSE") or is_granted("ROLE_CLERICAL")%}
                <a data-inline="true" class="ui-shadow ui-btn ui-corner-all ui-btn-inline" href="#" id="add-appointmnet-button">+ APPOINTMENT</a>
                {% endif %}
                <div class="flex-container">
                    <input type="date" id="appointment-date">                
                    <form id="appointment-update-form" method="post" onsubmit="getAppointments(event);">
                        <button data-inline="true">View</button>
                    </form>
                </div>  
                <h3 class="dark-green light-text">Upcoming Appointments</h3>  
                <input type="hidden" id="upcoming-appointments-insert">              
            </div>          
            
        </div>
        <div class="flex-container">
            <div class="box flex-item-1">
                <button id="view-medical-records">View Records</button>               
            </div>
            <div class="box flex-item-1">
                <div data-role="collapsible" id="appointment-history">
                    <h4>Appointment History</h4>
                    <a href="#all-completed-appointments" id="appointment-history-button" class="ui-shadow ui-btn ui-corner-all ui-btn-inline" data-transition="pop">ALL</a>
                    <input type="hidden" id="completed-appointments-insert"> 
                    
                </div>
            </div>
            
        </div>        
    </div>
</div> <!-- /main-->

<div data-role="page" id="edit-profile" data-dialog="true">
    <div data-role="header">
        <h3 class="light-grey light-text">Edit Profile</h3> 
    </div>
    <div data-role="content">
        <form method="post" id="update-patient-form">
            <div class="flex-container">
                <div class="flex-item-small-form">
                    <p class="green">Priority</p>
                    <select id="edit-priority" data-mini="true">
                        <option value="Low">Low</option>  
                        <option value="Medium">Medium</option>                     
                        <option value="High">High</option>
                    </select>                     
                </div>                      
                <div class="flex-item-small-form">
                    <p class="green">Status</p>
                    <select id="edit-status" data-mini="true">
                        <option value="Deceased">Deceased</option>
                        <option value="Discharged">Discharged</option>
                        <option value="Inpatient">Inpatient</option>                     
                        <option value="Outpatient">Outpatient</option> 
                        <option value="Pending">Pending</option>                    
                    </select>                  
                </div>                
            </div>
        <p class="green">First Name</p>
        <p id="edit-first-name-error"></p>
        <input type="text" class="input-style" id="edit-first-name" name="editfirstname">
        <p class="green">Middle Name(s)</p>
        <input type="text" class="input-style" id="edit-middle-names">
        <p class="green">Last Name</p>
        <input type="text" class="input-style" id="edit-last-name">
        <div class="flex-container">
            <div class="flex-item-small-form">
                <p class="green">Date of Birth</p>
                <p id="edit-dob-error"></p>
                <input type="date" class="input-style" id="edit-dob" name="editdob">                      
            </div>                      
            <div class="flex-item-small-form">
                <label for="department" class="green">Department</label>
                <select name="department" id="edit-department" data-mini="true">
                    <option value="Unassigned">Unassigned</option>  
                    <option value="A and E">A and E</option>                     
                    <option value="Opthalmology">Opthalmology</option> 
                    <option value="Radiology">Radiology</option>
                </select>                  
            </div>                
        </div>
        <div class="flex-container">
            <div class="flex-item-small-form">
                <p class="green">Telephone</p>
                <input type="number" class="input-style" id="edit-telNo">                      
            </div>                      
            <div class="flex-item-small-form">
                <p class="green">Mobile</p>
                <input type="number" class="input-style" id="edit-mobileNo">                      
            </div>                
        </div>
        <p class="green">Address</p>
        <input type="text" class="input-style" id="edit-address-line1">
        <input type="text" class="input-style" id="edit-address-line2">
        <input type="text" class="input-style" id="edit-address-line3">
        <div class="flex-container">
            <div class="flex-item-small-form"> 
            <!-- found at http://www.waterfordwebdesign.ie/alphabetical-list-32-counties-ireland/-->
            <label for="county" class="green">County</label>
            <select name="county" id="edit-county" data-mini="true">
                <option value="Antrim">Antrim</option>
                <option value="Armagh">Armagh</option>
                <option value="Carlow">Carlow</option>
                <option value="Cavan">Cavan</option>
                <option value="Clare">Clare</option>
                <option value="Cork">Cork</option>
                <option value="Derry">Derry</option>
                <option value="Donegal">Donegal</option>
                <option value="Down">Down</option>
                <option value="Dublin">Dublin</option>
                <option value="Fermanagh">Fermanagh</option>
                <option value="Galway">Galway</option>
                <option value="Kerry">Kerry</option>
                <option value="Kildare">Kildare</option>
                <option value="Kilkenny">Kilkenny</option>
                <option value="Laois">Laois</option>
                <option value="Leitrim">Leitrim</option>
                <option value="Limerick">Limerick</option>
                <option value="Longford">Longford</option>
                <option value="Louth">Louth</option>
                <option value="mayo">Mayo</option>
                <option value="Meath">Meath</option>
                <option value="Monaghan">Monaghan</option>
                <option value="Offaly">Offaly</option>
                <option value="Roscommon">Roscommon</option>
                <option value="Sligo">Sligo</option>
                <option value="Tipperary">Tipperary</option>
                <option value="Tyrone">Tyrone</option>
                <option value="Waterford">Waterford</option>
                <option value="Westmeath">Westmeath</option>
                <option value="Wexford">Wexford</option>
                <option value="Wicklow">Wicklow</option>
            </select>                       
            </div>                      
            <div class="flex-item-small-form">
                <p class="green">Eircode</p>
                <input type="text" class="input-style" id="edit-eircode">                      
            </div>                
        </div>
        <div class="flex-container">
            <div class="flex-item-small-form">
                <!-- list of countries found at https://gist.github.com/danrovito/977bcb97c9c2dfd3398a-->
                <label for="country" class="green">Country</label>
                <select id="edit-country" name="country" data-mini="true">
                    <option value="" disabled selected>Choose option</option>
                    <option value="Afghanistan">Afghanistan</option>
                    <option value="Åland Islands">Åland Islands</option>
                    <option value="Albania">Albania</option>
                    <option value="Algeria">Algeria</option>
                    <option value="American Samoa">American Samoa</option>
                    <option value="Andorra">Andorra</option>
                    <option value="Angola">Angola</option>
                    <option value="Anguilla">Anguilla</option>
                    <option value="Antarctica">Antarctica</option>
                    <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Armenia">Armenia</option>
                    <option value="Aruba">Aruba</option>
                    <option value="Australia">Australia</option>
                    <option value="Austria">Austria</option>
                    <option value="Azerbaijan">Azerbaijan</option>
                    <option value="Bahamas">Bahamas</option>
                    <option value="Bahrain">Bahrain</option>
                    <option value="Bangladesh">Bangladesh</option>
                    <option value="Barbados">Barbados</option>
                    <option value="Belarus">Belarus</option>
                    <option value="Belgium">Belgium</option>
                    <option value="Belize">Belize</option>
                    <option value="Benin">Benin</option>
                    <option value="Bermuda">Bermuda</option>
                    <option value="Bhutan">Bhutan</option>
                    <option value="Bolivia">Bolivia</option>
                    <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                    <option value="Botswana">Botswana</option>
                    <option value="Bouvet Island">Bouvet Island</option>
                    <option value="Brazil">Brazil</option>
                    <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                    <option value="Brunei Darussalam">Brunei Darussalam</option>
                    <option value="Bulgaria">Bulgaria</option>
                    <option value="Burkina Faso">Burkina Faso</option>
                    <option value="Burundi">Burundi</option>
                    <option value="Cambodia">Cambodia</option>
                    <option value="Cameroon">Cameroon</option>
                    <option value="Canada">Canada</option>
                    <option value="Cape Verde">Cape Verde</option>
                    <option value="Cayman Islands">Cayman Islands</option>
                    <option value="Central African Republic">Central African Republic</option>
                    <option value="Chad">Chad</option>
                    <option value="Chile">Chile</option>
                    <option value="China">China</option>
                    <option value="Christmas Island">Christmas Island</option>
                    <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                    <option value="Colombia">Colombia</option>
                    <option value="Comoros">Comoros</option>
                    <option value="Congo">Congo</option>
                    <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
                    <option value="Cook Islands">Cook Islands</option>
                    <option value="Costa Rica">Costa Rica</option>
                    <option value="Cote D'ivoire">Cote D'ivoire</option>
                    <option value="Croatia">Croatia</option>
                    <option value="Cuba">Cuba</option>
                    <option value="Cyprus">Cyprus</option>
                    <option value="Czech Republic">Czech Republic</option>
                    <option value="Denmark">Denmark</option>
                    <option value="Djibouti">Djibouti</option>
                    <option value="Dominica">Dominica</option>
                    <option value="Dominican Republic">Dominican Republic</option>
                    <option value="Ecuador">Ecuador</option>
                    <option value="Egypt">Egypt</option>
                    <option value="El Salvador">El Salvador</option>
                    <option value="Equatorial Guinea">Equatorial Guinea</option>
                    <option value="Eritrea">Eritrea</option>
                    <option value="Estonia">Estonia</option>
                    <option value="Ethiopia">Ethiopia</option>
                    <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                    <option value="Faroe Islands">Faroe Islands</option>
                    <option value="Fiji">Fiji</option>
                    <option value="Finland">Finland</option>
                    <option value="France">France</option>
                    <option value="French Guiana">French Guiana</option>
                    <option value="French Polynesia">French Polynesia</option>
                    <option value="French Southern Territories">French Southern Territories</option>
                    <option value="Gabon">Gabon</option>
                    <option value="Gambia">Gambia</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Germany">Germany</option>
                    <option value="Ghana">Ghana</option>
                    <option value="Gibraltar">Gibraltar</option>
                    <option value="Greece">Greece</option>
                    <option value="Greenland">Greenland</option>
                    <option value="Grenada">Grenada</option>
                    <option value="Guadeloupe">Guadeloupe</option>
                    <option value="Guam">Guam</option>
                    <option value="Guatemala">Guatemala</option>
                    <option value="Guernsey">Guernsey</option>
                    <option value="Guinea">Guinea</option>
                    <option value="Guinea-bissau">Guinea-bissau</option>
                    <option value="Guyana">Guyana</option>
                    <option value="Haiti">Haiti</option>
                    <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
                    <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                    <option value="Honduras">Honduras</option>
                    <option value="Hong Kong">Hong Kong</option>
                    <option value="Hungary">Hungary</option>
                    <option value="Iceland">Iceland</option>
                    <option value="India">India</option>
                    <option value="Indonesia">Indonesia</option>
                    <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                    <option value="Iraq">Iraq</option>
                    <option value="Ireland">Ireland</option>
                    <option value="Isle of Man">Isle of Man</option>
                    <option value="Israel">Israel</option>
                    <option value="Italy">Italy</option>
                    <option value="Jamaica">Jamaica</option>
                    <option value="Japan">Japan</option>
                    <option value="Jersey">Jersey</option>
                    <option value="Jordan">Jordan</option>
                    <option value="Kazakhstan">Kazakhstan</option>
                    <option value="Kenya">Kenya</option>
                    <option value="Kiribati">Kiribati</option>
                    <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                    <option value="Korea, Republic of">Korea, Republic of</option>
                    <option value="Kuwait">Kuwait</option>
                    <option value="Kyrgyzstan">Kyrgyzstan</option>
                    <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                    <option value="Latvia">Latvia</option>
                    <option value="Lebanon">Lebanon</option>
                    <option value="Lesotho">Lesotho</option>
                    <option value="Liberia">Liberia</option>
                    <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                    <option value="Liechtenstein">Liechtenstein</option>
                    <option value="Lithuania">Lithuania</option>
                    <option value="Luxembourg">Luxembourg</option>
                    <option value="Macao">Macao</option>
                    <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
                    <option value="Madagascar">Madagascar</option>
                    <option value="Malawi">Malawi</option>
                    <option value="Malaysia">Malaysia</option>
                    <option value="Maldives">Maldives</option>
                    <option value="Mali">Mali</option>
                    <option value="Malta">Malta</option>
                    <option value="Marshall Islands">Marshall Islands</option>
                    <option value="Martinique">Martinique</option>
                    <option value="Mauritania">Mauritania</option>
                    <option value="Mauritius">Mauritius</option>
                    <option value="Mayotte">Mayotte</option>
                    <option value="Mexico">Mexico</option>
                    <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                    <option value="Moldova, Republic of">Moldova, Republic of</option>
                    <option value="Monaco">Monaco</option>
                    <option value="Mongolia">Mongolia</option>
                    <option value="Montenegro">Montenegro</option>
                    <option value="Montserrat">Montserrat</option>
                    <option value="Morocco">Morocco</option>
                    <option value="Mozambique">Mozambique</option>
                    <option value="Myanmar">Myanmar</option>
                    <option value="Namibia">Namibia</option>
                    <option value="Nauru">Nauru</option>
                    <option value="Nepal">Nepal</option>
                    <option value="Netherlands">Netherlands</option>
                    <option value="Netherlands Antilles">Netherlands Antilles</option>
                    <option value="New Caledonia">New Caledonia</option>
                    <option value="New Zealand">New Zealand</option>
                    <option value="Nicaragua">Nicaragua</option>
                    <option value="Niger">Niger</option>
                    <option value="Nigeria">Nigeria</option>
                    <option value="Niue">Niue</option>
                    <option value="Norfolk Island">Norfolk Island</option>
                    <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                    <option value="Norway">Norway</option>
                    <option value="Oman">Oman</option>
                    <option value="Pakistan">Pakistan</option>
                    <option value="Palau">Palau</option>
                    <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                    <option value="Panama">Panama</option>
                    <option value="Papua New Guinea">Papua New Guinea</option>
                    <option value="Paraguay">Paraguay</option>
                    <option value="Peru">Peru</option>
                    <option value="Philippines">Philippines</option>
                    <option value="Pitcairn">Pitcairn</option>
                    <option value="Poland">Poland</option>
                    <option value="Portugal">Portugal</option>
                    <option value="Puerto Rico">Puerto Rico</option>
                    <option value="Qatar">Qatar</option>
                    <option value="Reunion">Reunion</option>
                    <option value="Romania">Romania</option>
                    <option value="Russian Federation">Russian Federation</option>
                    <option value="Rwanda">Rwanda</option>
                    <option value="Saint Helena">Saint Helena</option>
                    <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                    <option value="Saint Lucia">Saint Lucia</option>
                    <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                    <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
                    <option value="Samoa">Samoa</option>
                    <option value="San Marino">San Marino</option>
                    <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                    <option value="Saudi Arabia">Saudi Arabia</option>
                    <option value="Senegal">Senegal</option>
                    <option value="Serbia">Serbia</option>
                    <option value="Seychelles">Seychelles</option>
                    <option value="Sierra Leone">Sierra Leone</option>
                    <option value="Singapore">Singapore</option>
                    <option value="Slovakia">Slovakia</option>
                    <option value="Slovenia">Slovenia</option>
                    <option value="Solomon Islands">Solomon Islands</option>
                    <option value="Somalia">Somalia</option>
                    <option value="South Africa">South Africa</option>
                    <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
                    <option value="Spain">Spain</option>
                    <option value="Sri Lanka">Sri Lanka</option>
                    <option value="Sudan">Sudan</option>
                    <option value="Suriname">Suriname</option>
                    <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                    <option value="Swaziland">Swaziland</option>
                    <option value="Sweden">Sweden</option>
                    <option value="Switzerland">Switzerland</option>
                    <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                    <option value="Taiwan, Province of China">Taiwan, Province of China</option>
                    <option value="Tajikistan">Tajikistan</option>
                    <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                    <option value="Thailand">Thailand</option>
                    <option value="Timor-leste">Timor-leste</option>
                    <option value="Togo">Togo</option>
                    <option value="Tokelau">Tokelau</option>
                    <option value="Tonga">Tonga</option>
                    <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                    <option value="Tunisia">Tunisia</option>
                    <option value="Turkey">Turkey</option>
                    <option value="Turkmenistan">Turkmenistan</option>
                    <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                    <option value="Tuvalu">Tuvalu</option>
                    <option value="Uganda">Uganda</option>
                    <option value="Ukraine">Ukraine</option>
                    <option value="United Arab Emirates">United Arab Emirates</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="United States">United States</option>
                    <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                    <option value="Uruguay">Uruguay</option>
                    <option value="Uzbekistan">Uzbekistan</option>
                    <option value="Vanuatu">Vanuatu</option>
                    <option value="Venezuela">Venezuela</option>
                    <option value="Viet Nam">Viet Nam</option>
                    <option value="Virgin Islands, British">Virgin Islands, British</option>
                    <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                    <option value="Wallis and Futuna">Wallis and Futuna</option>
                    <option value="Western Sahara">Western Sahara</option>
                    <option value="Yemen">Yemen</option>
                    <option value="Zambia">Zambia</option>
                    <option value="Zimbabwe">Zimbabwe</option>
                </select>
            </div>
            <div class="flex-item-small-form">
                <p class="green">Email</p>
                <input type="text" class="input-style" id="edit-email">
            </div>
            
        </div>     
        <button data-inline="true" id="update-patient-button">Update</button>
    </form>
    </div>
</div> <!-- /edit-profile-->

<div id="all-completed-appointments" data-role="page" data-dialog="true">
    <div data-role="header">
        <h3 class="light-grey light-text">Appointment History</h3>
    <div data-role="content">        
        <input type="hidden" id="appointment-history-insert"> 
    </div>
    </div>

</div><!-- /all-completed-appointments-->
<div data-role="page" data-dialog="true" id="delete-profile">
    <div data-role="header">
        <h3>Delete <span class="name"></span></h3>
    </div>
    <div data-role="content">
        <p>Are you sure you want to delete <span class="name"></span>?</p>
        <p id="delete-patient-error"></p>
        <a id="delete-patient-yes" class="ui-shadow ui-btn ui-corner-all ui-btn-inline" data-transition="pop">YES</a>
        <a id="delete-patient-no" data-rel="back" class="ui-shadow ui-btn ui-corner-all ui-btn-inline" data-transition="pop">NO</a>
    </div>
</div> <!--/delete profile-->

<script>         
    

    //get parameter from URL seen at https://www.w3docs.com/snippets/javascript/how-to-get-current-url-in-javascript.html
    let urlString = window.location.href;
    let url = new URL(urlString);
    var patientId = url.searchParams.get("id");
    var msg = url.searchParams.get("msg");
    if(msg === "success") {
        $("#updated-success").text("Record successfully updated");
    } else if (msg === "appoint") {
        $("#updated-success").text("Appointment successfully created");
    }
     else {
        $("#updated-success").text("");
    }
    //get staff id from user object
    var staffId = '{{ app.user.id }}';

    getPatientDetails(patientId);
    getPatientOutstandingAppoint(patientId);
    savePatientLastViewed(patientId, staffId);
    //add todays date to date input when page loads
    var todaysDate = new Date();
    //converts date to string formatted to html date input https://stackoverflow.com/questions/3066586/get-string-in-yyyymmdd-format-from-js-date-object
    var todaysDateFormat = todaysDate.toISOString().slice(0,10);
    $('#appointment-date').val(todaysDateFormat);


    function getAppointments(event) {
        event.preventDefault();
        let date = $("#appointment-date").val();
        $.post("/backend/patient", {type:"getAppointmentsByDate", patientId:patientId, date:date})
        .done(function(data) {
            $(".upcoming-appointments").remove();
            $("<h4 class='dark-green upcoming-appointments'>By date:</h4>").insertBefore("#upcoming-appointments-insert");
            if(data === "none") {
                //update DOM with message
                $("<p class='upcoming-appointments'>No upcoming appointments for date</p>").insertBefore("#upcoming-appointments-insert");
            } else {  
                 data.forEach(function(appointment) {
                    let appointmentId = appointment.appointmentId;
                    let departmentName = appointment.departmentName;
                    let date = appointment.date;
                    let medicalStaff = appointment.medicalStaff;
                    let time = appointment.time;

                    let htmlAppointment = `<p class='input-style-dark upcoming-appointments'>${date}, ${time}, ${medicalStaff}, ${departmentName}</p>`;

                    $(htmlAppointment).insertBefore("#upcoming-appointments-insert");
                }); //end foreach            
            } //end if/else
        })
        //throw error if fails found at https://stackoverflow.com/questions/9847244/what-are-the-parameters-sent-to-fail-in-jquery
        .fail(function (jqXHR, textStatus, error) {
            showErrorPage();
        }); //end post
    } //end getAppointments

    function getPatientDetails(patientId) {

        $.post("/backend/patient", {type:"details", patientId:patientId})
        .done(function(data) {
            //filter json data from backend
            let details = data.details;
            let firstName = details.firstName;
            let middleNames = details.middleNames;
            let lastName = details.lastName;
            let name = `${firstName} ${middleNames} ${lastName}`;
            let patientId = details.id;
            let priority = details.priority;
            let status = details.status;
            let dobDisplay = details.dobDisplay;
            let dob = details.dob;
            let department = details.department;
            let telNo = details.telNo;
            //set value if null or not selected
            if(telNo === null) {
                telNo = "";
            }
            let mobileNo = details.mobileNo;
            if(mobileNo === null) {
                mobileNo = "";
            }            
            let county = details.county;
            if(county === "Choose option") {
                county = "";
            }
            let country = details.country;
            if(country === "Choose option") {
                country = "";
            }
            let addressArray = details.address;
            let eircode = details.eircode;
            let email = details.email;

            //update html file with data
            $(".name").text(name);
            $("#patientId").text(patientId);
            $("#priority").text(priority);
            //set background colour of priority
            switch(priority) {                
                case "Medium":
                    $("#priority").addClass("bg-amber");
                    break;
                case "High":
                    $("#priority").addClass("bg-red");
                    break;
                default:
                    $("#priority").addClass("bg-light-green");
            }

            //add data to main patient profile
            $("#status").text(status);
            $("#dob").text(dobDisplay);
            $("#department").text(department);
            $("#telNo").text(telNo);
            $("#mobileNo").text(mobileNo);
            $("#email").text(email);
            $("#county").text(county);
            $("#country").text(country);
            $("#eircode").text(eircode);
            $("#address-line1").text(addressArray[0]);
            $("#address-line2").text(addressArray[1]);
            $("#address-line3").text(addressArray[2]);    

            //add data to edit patient profile dialog window
            $("#edit-priority").val(priority);
            $("#edit-status").val(status);
            $("#edit-first-name").val(firstName);
            $("#edit-middle-names").val(middleNames);
            $("#edit-last-name").val(lastName);
            $("#edit-dob").val(dob);
            $("#edit-department").val(department);
            $("#edit-telNo").val(telNo);
            $("#edit-mobileNo").val(mobileNo);
            $("#edit-address-line1").val(addressArray[0]);
            $("#edit-address-line2").val(addressArray[1]);
            $("#edit-address-line3").val(addressArray[2]);
            //ensure the county value is selected by converting to lowercase
            $("#edit-county").val(county);
            $("#edit-country").val(country);
            $("#edit-eircode").val(eircode);
            $("#edit-email").val(email);

        })
        //throw error if fails found at https://stackoverflow.com/questions/9847244/what-are-the-parameters-sent-to-fail-in-jquery
        .fail(function (jqXHR, textStatus, error) {
            showErrorPage();
        }); //end post
    }

    function savePatientLastViewed(patientId, staffId) {
        $.post("/backend/staff", {type: "savePatientLastViewed", 
        patientId:patientId, staffId:staffId})
        //throw error if fails found at https://stackoverflow.com/questions/9847244/what-are-the-parameters-sent-to-fail-in-jquery
        .fail(function () {
            showErrorPage();
        });
    } //end savePatientLastViewed

    function getPatientOutstandingAppoint(patientId) {
        $.post("/backend/patient", {type:"outstandingAppoint", patientId:patientId})
        .done(function(data) {
            let appointments = data.outstandingAppointments;
            $(".upcoming-appointments").remove();
            if(data === "none") {
                //update dom if no records found
                $("<p class='upcoming-appointments'>No upcoming appointments</p>").insertBefore("#upcoming-appointments-insert");
            } else {
                appointments.forEach(function(appointment) {
                    let appointmentId = appointment.appointmentId;
                    let departmentName = appointment.departmentName;
                    let date = appointment.date;
                    let medicalStaff = appointment.medicalStaff;
                    let time = appointment.time;

                    let htmlAppointment = `<p class='input-style-dark upcoming-appointments'>${date}, ${time}, ${medicalStaff}, ${departmentName}</p>`;

                    $(htmlAppointment).insertBefore("#upcoming-appointments-insert");
                        
                });
            } //end if/else        
            
        })
        //throw error if fails found at https://stackoverflow.com/questions/9847244/what-are-the-parameters-sent-to-fail-in-jquery
        .fail(function (jqXHR, textStatus, error) {
            showErrorPage();
        }); //end post

    } //end getPatientOutstandingAppoint

    function getPatientCompleteAppoint(patientId) {
        $.post("/backend/patient", {type:"completeAppoint", patientId:patientId})
        .done(function(data) { 
            $(".completed-appointment").remove();      
            if(data === "none") {
                //update dom if no records found
                $("<p class='completed-appointment'>No previous appointments</p>").insertBefore("#completed-appointments-insert");
            } else {
                let appointments = data.completedAppointments;
                appointments.forEach(function(appointment) {
                    let appointmentId = appointment.appointmentId;
                    let departmentName = appointment.departmentName;
                    let date = appointment.date;
                    let medicalStaff = appointment.medicalStaff;
                    let time = appointment.time;
                        
                    let htmlAppointment = `<p class='input-style-dark completed-appointment'>${date}, ${time}, ${medicalStaff}, ${departmentName}</p>`;

                    $(htmlAppointment).insertBefore("#completed-appointments-insert");
                        
                });
            } //end if/else        
            
        })
        //throw error if fails found at https://stackoverflow.com/questions/9847244/what-are-the-parameters-sent-to-fail-in-jquery
        .fail(function (jqXHR, textStatus, error) {
            showErrorPage();
        }); //end post

    } //end getPatientCompleteAppoint

    $("#update-patient-form").submit(function(event) {
        event.preventDefault();
        let id = patientId;
        let priority = $("#edit-priority").val();
        let status = $("#edit-status").val();
        let firstName = $("#edit-first-name").val();
        let middleName = $("#edit-middle-names").val();
        let lastName = $("#edit-last-name").val();
        let email = $("#edit-email").val();
        let address = [$("#edit-address-line1").val(), 
        $("#edit-address-line2").val(), $("#edit-address-line3").val()];
        let county = $('#edit-county').find(":selected").text();
        let eircode = $("#edit-eircode").val(); 
        let country = $('#edit-country').find(":selected").text();
        let dateOfBirth = $("#edit-dob").val(); 
        let telNo = $("#edit-telNo").val(); 
        let mobileNo = $("#edit-mobileNo").val(); 
        let department = $('#edit-department').find(":selected").text(); 

        //form validation
        if(firstName === "") {
            addError("#edit-first-name-error", "Please enter a first name");
        } else {
            removeError("#edit-first-name-error");
        }  
        if(dateOfBirth === "") {
            addError("#edit-dob-error", "Please enter a date of birth");
        } else {
            removeError("#edit-dob-error");
        }  
        //post to backend only if no errors exist
        if(!($(".error").length)) {
            $.post("/backend/patient", {type:"updateDetails", patientId:id, firstName:firstName, 
            middleName:middleName, lastName:lastName, email:email, address:address,
            county:county, eircode:eircode, country:country, dateOfBirth:dateOfBirth,
            telNo:telNo, mobileNo:mobileNo, department:department, priority:priority, status:status})
            .done(function(data) {
                //if successful, redirect / else show error
                if(data === "success") {
                    window.location = `/patient/profile?id=${patientId}&msg=success`;
                } else {
                    alert("Patient details not found");
                }                   
            })
            //throw error if fails found at https://stackoverflow.com/questions/9847244/what-are-the-parameters-sent-to-fail-in-jquery
            .fail(function (jqXHR, textStatus, error) {
                showErrorPage();
            }); //end post
        } //end if
    }); //end submit event

    //handles the event if the collapsible is expanded
    $("#appointment-history").collapsible({
        expand: function( event, ui ) {
            //get appointment history        
            getPatientCompleteAppoint(patientId);
        }
    });

    $("#appointment-history-button").mouseup(function(event) {

        //changed from click to mouseup event as click prevented popup from executing
        event.preventDefault();

        $.post("/backend/patient", {type:"appointmentHistory", patientId:patientId})
        .done(function(data) { 
            $(".appointment-history").remove();      
            if(data === "none") {
                //update dom if no records found
                $("<p class='appointment-history'>No previous appointments</p>").insertBefore("#appointment-history-insert");
            } else {
                data.forEach(function(appointment) {
                    let appointmentId = appointment.appointmentId;
                    let departmentName = appointment.departmentName;
                    let date = appointment.date;
                    let medicalStaff = appointment.medicalStaff;
                    let time = appointment.time;

                    let htmlAppointment = `<p class='input-style dark-grey appointment-history'>${date}, ${time}, ${medicalStaff}, ${departmentName}</p>`;

                    $(htmlAppointment).insertBefore("#appointment-history-insert");
                        
                });
            } //end if/else        
            
        })
        //throw error if fails found at https://stackoverflow.com/questions/9847244/what-are-the-parameters-sent-to-fail-in-jquery
        .fail(function (jqXHR, textStatus, error) {
            showErrorPage();
        }); //end post
    }); // end mouseup

    $("#view-medical-records").click(function() {
        window.location = `./medical-record/view?id=${patientId}`;
    });

    //delete patient
    $("#delete-patient-yes").click(function() {
        $.post("/backend/patient", {type: "deletePatient", patientId:patientId})
        .done(function(data) {
           if(data === "none") {
               addError("#delete-patient-error", "An unexpected error occurred");
           } else {
               removeError("#delete-patient-error");
               window.location = "./search?msg=deleted";
           }
        })
        //throw error if fails found at https://stackoverflow.com/questions/9847244/what-are-the-parameters-sent-to-fail-in-jquery
        .fail(function (jqXHR, textStatus, error) {
            showErrorPage();
        }); //end post        
    }); //end click event

    //change window location if link clicked
    $("#add-appointmnet-button").click(function() {
        window.location = `/patient/appointment/create?id=${patientId}`;
    }); //end click event

    //add medical record for patient
    $("#add-medical-record").click(function() {
        window.location = `/patient/medical-record/create?id=${patientId}`;
    });

</script>
</body>
</html>

