{% include './header/header.html.twig' %}
<body>
<div data-role="page">
    <div data-role="panel" id="side-nav">
        <img src="{{asset('assets/images/logo.svg')}}" class="centre-img width-90p" alt="UHW Logo">
        <a href="#home" class="nav-link-button ui-btn ui-shadow ui-corner-all ui-btn-icon-right ui-icon-home" data-theme="c">Home</a>
        <a href="#home" class="nav-link-button ui-btn ui-shadow ui-corner-all ui-btn-icon-right ui-icon-search" data-theme="c">Search</a>
        <a href="#home" class="nav-link-button ui-btn ui-shadow ui-corner-all ui-btn-icon-right ui-icon-user" data-theme="c">Patient</a>
        <a href="#home" class="nav-link-button ui-btn ui-shadow ui-corner-all ui-btn-icon-right ui-icon-bullets" data-theme="c">Records</a>

    </div>  
      
    <div data-role="content" class="width-960">
        <a href="#side-nav" class="ui-btn ui-icon-bars ui-btn-icon-notext ui-corner-all" id="open-nav" data-role="button" data-inline="true" data-display="push" data-position="left" data-dismissible="true"></a>
        <h2 class="inline" id="name"></h2>
        <button data-inline="true">EDIT</button>
        <p id="patientId"></p>
        <div class="width-240">
            <button>NEW RECORD</button>
        </div>
        <div class="flex-container">
            <div class="box flex-item-1">
                <div class="flex-container">
                    <div class="flex-item-small-form">
                        <p class="green">Priority</p>
                        <p class="input-style" id="priority"></p>                        
                    </div>                      
                    <div class="flex-item-small-form">
                        <p class="green">Status</p>
                        <p class="input-style bg-light-green" id="status"></p>                        
                    </div>                
                </div>
                <div class="flex-container">
                    <div class="flex-item-small-form">
                        <p class="green">Date of Birth</p>
                        <p class="input-style" id="dob"></p>                        
                    </div>                      
                    <div class="flex-item-small-form">
                        <p class="green">Department</p>
                        <p class="input-style bg-light-green" id="department"></p>                        
                    </div>                
                </div>
                <div class="flex-container">
                    <div class="flex-item-small-form">
                        <p class="green">Telephone</p>
                        <p class="input-style" id="telNo"></p>                        
                    </div>                      
                    <div class="flex-item-small-form">
                        <p class="green">Mobile</p>
                        <p class="input-style" id="mobileNo"></p>                        
                    </div>                
                </div>
                <p class="green">Address</p>
                <p class="input-style" id="address-line1"></p>
                <p class="input-style" id="address-line2"></p>
                <p class="input-style" id="address-line3"></p>
                <div class="flex-container">
                    <div class="flex-item-small-form">
                        <p class="input-style" id="county"></p>                        
                    </div>                      
                    <div class="flex-item-small-form">
                        <p class="input-style" id="eircode"></p>                        
                    </div>                
                </div>
                <p class="green">Email</p>
                <p class="input-style" id="email"></p> 
            </div>
            <div class="box flex-item-1">
                <p class="green">Appointments</p>
                <div class="flex-container">
                    <input type="date" id="appointment-date">                
                    <form id="appointment-update-form" method="post" onsubmit="getAppointments(event);">
                        <button data-inline="true">View</button>
                    </form>
                </div>  
                <h3 class="dark-green light-text">Upcoming Appointments</h3>
                <p class="input-style-dark">25 Mar 2019, 14:00, Dr. Murphy, Cardiology</p>
                <p class="input-style-dark">16 Mar 2019, 13:00, Dr. Nobody, A&amp;E</p>  
                <p class="input-style-dark">25 Mar 2019, 14:00, Dr. Murphy, Cardiology</p>                  
            </div>          
            
        </div>
        <div class="flex-container">
            <div class="box flex-item-1">
                <div data-role="collapsible">
                    <h4>Medical Records</h4>
                    <p class="input-style-dark">Cardiology, Dr. Murphy, 25 Mar 2019, 14:00</p> 
                    <p class="input-style-dark">Orthapedics, Dr. Hoffstedder, 23 May 2018, 14:00</p> 
                    <p class="input-style-dark">Cardiology, Dr. Murphy, 25 Mar 2019, 14:00</p> 
                </div>                
            </div>
            <div class="box flex-item-1 flex-test">
                <div data-role="collapsible">
                    <h4>Appointment History</h4>
                    <p class="input-style-dark">25 Mar 2019, 14:00, Dr. Murphy, Cardiology</p>
                    <p class="input-style-dark">16 Mar 2019, 13:00, Dr. Nobody, A&amp;E</p>  
                    <p class="input-style-dark">25 Mar 2019, 14:00, Dr. Murphy, Cardiology</p>
                </div>
            </div>
            
        </div>        
    </div>
</div>
<script>
    
    $(document).ready( function() {
        getPatientDetails();
        //add todays date to date input when page loads
        var todaysDate = new Date();
        //converts date to string formatted to html date input https://stackoverflow.com/questions/3066586/get-string-in-yyyymmdd-format-from-js-date-object
        var todaysDateFormat = todaysDate.toISOString().slice(0,10);
        $('#appointment-date').val(todaysDateFormat);
    });

    function getAppointments(event) {
        event.preventDefault();
    }

    function getPatientDetails(patientId = 1) {

        $.post("/backend/patient", {type:"patient", patientId:patientId})
        .done(function(data) {
            console.log(data);
            //filter json data from backend
            let details = data[0].details;
            let name = details.name;
            let patientId = details.id;
            let priority = details.priority;
            let status = details.status;
            let dob = details.dob;
            let department = details.department;
            let telNo = details.telNo;
            let mobileNo = details.mobileNo;
            let addressArray = details.address;
            let county = details.county;
            let eircode = details.eircode;
            let email = details.email;

            let outstandingAppointments = data[1].outstandingAppointments;
            let completedAppointments = data[2].completedAppointments;

            //update html file with data
            $("#name").text(name);
            $("#patientId").text(patientId);
            $("#priority").text(priority);
            //set background colour of priority
            switch(priority) {                
                case "Medium":
                    $("#priority").addClass("bg-amber");
                    break;
                case "High":
                    $("#priority").addClass("bg-red");
                    break;
                default:
                    $("#priority").addClass("bg-light-green");
            }
            $("#status").text(status);
            $("#dob").text(dob);
            $("#department").text(department);
            $("#telNo").text(telNo);
            $("#mobileNo").text(mobileNo);
            $("#email").text(email);
            $("#county").text(county);
            $("#eircode").text(eircode);
            $("#address-line1").text(addressArray[0]);
            $("#address-line2").text(addressArray[1]);
            $("#address-line3").text(addressArray[2]);           

        });
    }
</script>
</body>
</html>

