{% include './header/header.html.twig' %}
<body>
<div data-role="page">  
    {% include './sidenav/sidenav.html.twig' %} 
    <div data-role="content" class="width-720"> 
    </div>
</div>
<script>
    
</script>
</body>
</html>