{% include './header/header.html.twig' %}
<body>    
    <div class="box width-small">
        <img src="{{asset('assets/images/logo.svg')}}" class="centre-img width-small" alt="UHW Logo">   
        <form method="post" id="login-form" class="width-large centre">
             <label for="username" class="ui-hidden-accessible">Username:</label>
             <input type="text" id="username" name="username" placeholder="Username">
             <label for="password" class="ui-hidden-accessible">Password:</label>
             <input type="password" id="password" name="password" placeholder="Password">       
            <input type="submit" id="loginButton" data-inline="true" value="Login" data-theme="b">
        </form>
    </div>    
</body>
<script>

    $("#login-form").submit(function() {
        var username = $("#username").val();
        var password = $("#password").val();
        console.log(username);
        console.log(password);

        $.post("../backend/staff/login", {username:username, password:password})
        .done(function(data) {
            alert(data);
        });
        
    });

</script> 