{% include './header/header.html.twig' %}
<body>    
    <div data-role="page">
        <div data-role="content">
            <div class="width-400 box centre" id="login-box">
                <img src="{{asset('assets/images/logo.svg')}}" class="centre-img width-small" alt="UHW Logo">   
                <form method="post" id="login-form" class="width-960 centre">
                    <p id="username-error"></p>
                    <label for="username" class="ui-hidden-accessible">Username:</label>
                    <input type="text" id="username" name="username" placeholder="Username">
                    <p id="password-error"></p>
                    <label for="password" class="ui-hidden-accessible">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Password">
                    <p id="username-password-error"></p>      
                    <input type="submit" id="loginButton" data-inline="true" value="Login" data-theme="b">
                </form>
            </div>            
        </div>        
    </div>    
</body>
<script>

    $("#login-form").submit(function(event) {
        event.preventDefault(); 
        //remove all previous errors
        removeError(".error");              
        let username = $("#username").val();
        let password = $("#password").val();
        //add error if username is blank
        if(username === "") {
            addError("#username-error", "Please enter a username");
        } else {
            removeError("#username-error");
        }
        //add error if password is blank
        if(password === "") {
            addError("#password-error","Please enter a password");
        } else {
            removeError("#password-error")
        }
        //post to backend if no errors exist
        if(!($(".error").length)) {
            console.log(username + " " + password);
            $.post("../backend/staff/login", {username:username, password:password})        
            .done(function(data) {
                //redirect to dashboard
                if(data === "true") {
                    window.location = "/dashboard"; 
                } else {
                    addError("#username-password-error", "Username or password incorrect");
                }
                
            });
        }
    })
    
    function removeError(target) {
        $(target).text("");
        $(target).removeClass(); 
    }

    function addError(target, msg) {
        $(target).addClass("error");
        $(target).text(msg);
    }
    /*$(document).ready(function() {  
        //jQuery form validator plugin
        $("#login-form").validate({
            //custom rules for each element
            rules: {
                username: 'required',
                password: 'required'
            },
            //custom error messages for each element
            messages: {
                username: 'Username is required',
                password: 'Password is required',
            },
            errorPlacement: function(error, element) {
                //insert error outside of input div
                error.insertBefore(element.parent());                
            },
            //handles the submit only if form is valid
            submitHandler: function(form) {
                form.submit();
                let username = $("#username").val();
                let password = $("#password").val();
                console.log(username + " " + password);
                $.post("../backend/staff/login", {username:username, password:password})        
                .done(function(data) {
                    //redirect to dashboard 
                    alert(data);
                    if(data === "true") {
                        window.location = "/dashboard"; 
                    } else {
                        alert("Username and password incorrect");
                    }
                    
                });
            },
            
        });
    });*/


</script> 