{% include './header/header.html.twig' %}
<body>    
    <div data-role="page">
        <div data-role="content">
            <div class="width-400 box centre" id="login-box">
                
                <img src="{{asset('assets/images/logo.svg')}}" class="centre-img width-small" alt="UHW Logo">   
                <form method="post" id="login-form" class="width-960 centre">
                    <p id="username-error"></p>
                    <!--add error message from symfony security controller-->
                    {% if error %}
                    <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <label for="inputUsername" class="ui-hidden-accessible">Username:</label>
                    <input class="form-control" type="text" id="inputUsername" name="username" value="{{ last_username }}" placeholder="Username">
                    <p id="password-error"></p>
                    <label for="inputPassword" class="ui-hidden-accessible">Password:</label>
                    <input class="form-control" type="password" id="inputPassword" name="password" placeholder="Password">
                    <p id="username-password-error"></p>     
                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"> 
                    <input type="submit" id="loginButton" data-inline="true" value="Login" data-theme="b">
                </form>
            </div>            
        </div>        
    </div>    
</body>
<script>

    $("#login-form").submit(function(event) {
        event.preventDefault(); 
        //remove all previous errors
        removeError(".error");              
        let username = $("#inputUsername").val();
        let password = $("#inputPassword").val();
        //add error if username is blank
        if(username === "") {
            addError("#username-error", "Please enter a username");
        } else {
            removeError("#username-error");
        }
        //add error if password is blank
        if(password === "") {
            addError("#password-error","Please enter a password");
        } else {
            removeError("#password-error")
        }
        //submit form if no errors exist
        if(!($(".error").length)) {
            this.submit();
        }
    })
    

</script> 